## SQL and SQLite3

In [2]:
import sqlite3

In [3]:
## connect to sqldatabase

connection=sqlite3.connect('example.db')
connection

In [5]:
cursor = connection.cursor()

In [6]:
## Create a Table
cursor.execute(
    '''
Create Table If Not Exists employees(
id Integer Primary key ,
name Text Not Null,
age Integer,
department text

)
'''
)

connection.commit()

In [7]:
cursor.execute(
    '''
Select * from employees
'''
)

In [8]:
## insert the data


cursor.execute(
    '''
Insert into employees(name,age,department) values('Sneha Pujari',22,'Data Scientists')
'''
)


cursor.execute(
    '''
Insert into employees(name,age,department) values('Vishal Pujari',25,'Scientists')
'''
)


cursor.execute(
    '''
Insert into employees(name,age,department) values('Vilasrao Pujari',54,'Management Engineer')
'''
)


connection.commit()

In [9]:
## query the data from the table 
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Sneha Pujari', 22, 'Data Scientists')
(2, 'Vishal Pujari', 25, 'Scientists')
(3, 'Vilasrao Pujari', 54, 'Management Engineer')

In [10]:
## Update the table

cursor.execute(
    '''
UPDATE employees
Set age = 27
where name="Vishal Pujari"
'''
)

connection.commit()

In [11]:
## query the data from the table 
cursor.execute('Select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Sneha Pujari', 22, 'Data Scientists')
(2, 'Vishal Pujari', 27, 'Scientists')
(3, 'Vilasrao Pujari', 54, 'Management Engineer')

In [13]:
## Delete the data from the table 

cursor.execute(
    '''
Delete from employees where name = 'Vilasrao Pujari'
'''
)

connection.commit()

In [14]:
series = [
    ("Sneha" ,23,  "Data Analyst"),
    ("Vishal" ,27,'Scientist')
]

In [15]:
cursor.executemany(
    ''' Insert into employees(name,age,department) 
    values(?,?,?)
''' , series
)


connection.commit()

In [16]:
connection.close()