In [29]:
## Basic Syntax Rules In python 
## Case sensitivity 
name = "Sneha"
Name = "Pujari"


print(name)
print(Name)

Sneha
Pujari

In [30]:
## indentation
age = 32 
if age > 30 :
    print("Good,indentation explained")

Good,indentation explained

In [31]:
## Line Continuation

total = 1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [32]:
## Multiple Statements on a single line

x=5;y=10;z=x+y
print(z)

15

In [33]:
##Understand Semantics in Python
# variable assignment 
age = 32 
name = "Sneha" ##name is a string

In [34]:
## Type inference
type(age)

int

## Variables

It is temporary storage of the data

In [35]:
## declaring and Assigning Variables
age = 22
height = 4.9
name = "Sneha"
is_student = True 


# printing the variables 

print("age :",age)
print("height: ",height)
print("name:",name)
print("is_student:",is_student)

age : 22
height:  4.9
name: Sneha
is_student: True

In [36]:
## Naming Conventions
## Variables must start with letters or underscore '_'
## variables names should be descriptive
## they are case sensitive
## valid variable names


first_name = "Sneha"
last_name = "Pujari"

In [37]:
# Invalid variable names

2age = 89

print(2age)

SyntaxError: invalid decimal literal (2559979454.py, line 3)

In [ ]:
# Case sensitive 

Name = "Sneha"
name = "Pujari"


print(Name)
print(name)


Name == name

Sneha
Pujari

False

In [ ]:
# understanding data types 

age = 22 #int

height = 4.9  #float

name = "Sneha"  #String 

is_student = True       #Boolean 

print(type(name))

<class 'str'>

In [ ]:
## Type checking and conversation 


type(height)

float

In [ ]:
age = 22

age_str = str(age)


print(age)

print(age_str)


print(type(age))


print(type(age_str))

22
22
<class 'int'>
<class 'str'>

In [ ]:
age ='22'

age_int = int(age)

print(age_int)

print(type(age_int))

22
<class 'int'>

In [ ]:
float(int(age))

22.0

In [ ]:
## Dynamic Typing 
## Python allows the type of a variable to change as the program executes 

var =  10  #int 

print(var , type(var))


var = "Hello"

print(var,type(var))

var = 3.14 

print(var,type(var))

var = True 
 
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>

In [ ]:
## Input

age =int(input("What is your age ?"))


print(age, type(age))

22 <class 'int'>

In [ ]:
## Simple calculator 

num1 = float(input("Enter the First number:"))
num2 = float(input("Enter the second number :"))


Sum = num1 + num2 
Difference = num1 - num2 
Multiplication = num1*num2
Quotient = num1/num2

print("Sum :",Sum)
print("Difference : ", Difference)
print("Multiplication : " , Multiplication)
print("Quotient : ", Quotient)

Sum : 47.0
Difference :  -3.0
Multiplication :  550.0
Quotient :  0.88

## DataTypes

In [ ]:
## Integer Example

age = 35
type(age)

int

In [ ]:
## Floating point datatype 

height = 4.89


print(height)

print(type(height))

4.89
<class 'float'>

In [ ]:
## string datatype example 

name = "Krish"

print(name)

print(type(name))

Krish
<class 'str'>

In [ ]:
##  boolean Type 

type(True)

bool

In [ ]:
is_bool = True 
is_bool = bool()

is_bool

False

In [ ]:
a = 10 
b = 10 

type(a == b)

bool

In [ ]:
## Type casting

result = "Hello" + str(5)

print(result)

Hello5

## Operators

In [ ]:
##  Arithematic Operators 


a = 10 
b = 5


add_result = a+b  # addition
sub_result = a-b  #substraction
mult_result = a*b  # Multiplication
div_result = a/b  # Division
floor_div_result = a//b  # floor division  (Quotient Giving)

modulus_result = a%b  # moduls Result   (Remainder giving)


exponent_result = a**b  # Exponential Result


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [ ]:
a = 10
b = 10 

a==b

True

In [ ]:
str1 = "Krish"
str2 = "Krish"


str1 == str2

True

In [ ]:
## not equal the  != 


str1 != str2

False

In [ ]:
# greater than 

num1 = 45
num2 = 55 


num1>num2

False

In [ ]:
##less than 


print(num1<num2)

True

In [38]:
## greater than equal to 

number1 = 45
number2 = 45


number1 >=number2

True

In [39]:
## less than equal to 

number1 = 45
number2 = 45


number1 <= number2

True

In [49]:
##logical operators

## And , Not , Or operators

X = True
Y = False


result =  X and Y



print(result)

False

In [50]:
result = X or Y 

print(result)

True

In [51]:
result = not X 

print(result)

False