In [1]:
## Basic Syntax Rules In python 
## Case sensitivity 
name = "Sneha"
Name = "Pujari"


print(name)
print(Name)

Sneha
Pujari

In [2]:
## indentation
age = 32 
if age > 30 :
    print("Good,indentation explained")

Good,indentation explained

In [3]:
## Line Continuation

total = 1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [4]:
## Multiple Statements on a single line

x=5;y=10;z=x+y
print(z)

15

In [5]:
##Understand Semantics in Python
# variable assignment 
age = 32 
name = "Sneha" ##name is a string

In [6]:
## Type inference
type(age)

int

## Variables

It is temporary storage of the data

In [7]:
## declaring and Assigning Variables
age = 22
height = 4.9
name = "Sneha"
is_student = True 


# printing the variables 

print("age :",age)
print("height: ",height)
print("name:",name)
print("is_student:",is_student)

age : 22
height:  4.9
name: Sneha
is_student: True

In [8]:
## Naming Conventions
## Variables must start with letters or underscore '_'
## variables names should be descriptive
## they are case sensitive
## valid variable names


first_name = "Sneha"
last_name = "Pujari"

In [9]:
# Invalid variable names

#2age = 89

#print(2age)

In [10]:
# Case sensitive 

Name = "Sneha"
name = "Pujari"


print(Name)
print(name)


Name == name

Sneha
Pujari

False

In [11]:
# understanding data types 

age = 22 #int

height = 4.9  #float

name = "Sneha"  #String 

is_student = True       #Boolean 

print(type(name))

<class 'str'>

In [12]:
## Type checking and conversation 


type(height)

float

In [13]:
age = 22

age_str = str(age)


print(age)

print(age_str)


print(type(age))


print(type(age_str))

22
22
<class 'int'>
<class 'str'>

In [14]:
age ='22'

age_int = int(age)

print(age_int)

print(type(age_int))

22
<class 'int'>

In [15]:
float(int(age))

22.0

In [16]:
## Dynamic Typing 
## Python allows the type of a variable to change as the program executes 

var =  10  #int 

print(var , type(var))


var = "Hello"

print(var,type(var))

var = 3.14 

print(var,type(var))

var = True 
 
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>

In [17]:
## Input

age =int(input("What is your age ?"))


print(age, type(age))

11 <class 'int'>

In [18]:
## Simple calculator 

num1 = float(input("Enter the First number:"))
num2 = float(input("Enter the second number :"))


Sum = num1 + num2 
Difference = num1 - num2 
Multiplication = num1*num2
Quotient = num1/num2

print("Sum :",Sum)
print("Difference : ", Difference)
print("Multiplication : " , Multiplication)
print("Quotient : ", Quotient)

Sum : 22.0
Difference :  0.0
Multiplication :  121.0
Quotient :  1.0

## DataTypes

In [19]:
## Integer Example

age = 35
type(age)

int

In [20]:
## Floating point datatype 

height = 4.89


print(height)

print(type(height))

4.89
<class 'float'>

In [21]:
## string datatype example 

name = "Krish"

print(name)

print(type(name))

Krish
<class 'str'>

In [22]:
##  boolean Type 

type(True)

bool

In [23]:
is_bool = True 
is_bool = bool()

is_bool

False

In [24]:
a = 10 
b = 10 

type(a == b)

bool

In [25]:
## Type casting

result = "Hello" + str(5)

print(result)

Hello5

## Operators

In [26]:
##  Arithematic Operators 


a = 10 
b = 5


add_result = a+b  # addition
sub_result = a-b  #substraction
mult_result = a*b  # Multiplication
div_result = a/b  # Division
floor_div_result = a//b  # floor division  (Quotient Giving)

modulus_result = a%b  # moduls Result   (Remainder giving)


exponent_result = a**b  # Exponential Result


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [27]:
a = 10
b = 10 

a==b

True

In [28]:
str1 = "Krish"
str2 = "Krish"


str1 == str2

True

In [29]:
## not equal the  != 


str1 != str2

False

In [30]:
# greater than 

num1 = 45
num2 = 55 


num1>num2

False

In [31]:
##less than 


print(num1<num2)

True

In [32]:
## greater than equal to 

number1 = 45
number2 = 45


number1 >=number2

True

In [33]:
## less than equal to 

number1 = 45
number2 = 45


number1 <= number2

True

In [34]:
##logical operators

## And , Not , Or operators

X = True
Y = False


result =  X and Y



print(result)

False

In [35]:
result = X or Y 

print(result)

True

In [36]:
result = not X 

print(result)

False

## Python control Flow

In [37]:
## if statement 
age = 20 

if age>= 18:
    print("You are allowed to vote in elections")

You are allowed to vote in elections

In [38]:
## else 
## the else statement is used when the condition in if is false then it goes for else


age = 16 
if age >= 18 :
    print("You are allowed to vote in elections")
else:
    print("You are not allowed to vote in elections")

print("Please follow the rules â˜ðŸ½")

You are not allowed to vote in elections
Please follow the rules â˜ðŸ½

In [39]:
#elif 
## elif allows the different condition for eligible 
age = 18 


if age > 18 :
    print("You are eligible for voting")
elif age == 18 :
    print("You are now onwards eligible for voting ")
else:
    print("You are minor")

You are now onwards eligible for voting

In [40]:
## Nested conditional Statements
## For Example 
## To check whether the number even or odd 
number = int(input("Enter your respective number :"))

if number >=0:
    print("The given number is positive")
    if number%2==0:
        print(f"Given number : {number} is even")
    else :
         print(f"Given number : {number} is odd")
   
else:
    print(f"The given number : {number} is zero or negative ")

The given number is positive
Given number : 11 is odd

In [41]:
## Leap year 


year = int(input("Enter the year that comes after 2000 :"))

if year >= 2000 :
    print("The leap year concept gets applicable")
    if year%4==0:
        print(f"The given year : {year} is a leap year")
    else :
        print(f"The given year : {year} is not leap year")
else : 
    print(f"The given year : {year} comes below 2000")

The leap year concept gets applicable
The given year : 34456 is a leap year

In [42]:
# for loop
range(5)
for i in range(5):
    print(i)

0
1
2
3
4

In [43]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [44]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [45]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [46]:
## For strings

str = "Sneha Pujari"

for i in str:
    print(i)

S
n
e
h
a

P
u
j
a
r
i

In [47]:
## while loop 

count = 0 

while count <= 5 :
    print(count)
    count+=1

0
1
2
3
4
5

In [48]:
count = 0 
while count%2==0 :
    print(count)
    count+=1

0

In [49]:
## Loop Control
##break 


for i in range(10):
    if i == 5 :
        break
    print(i)

0
1
2
3
4

In [50]:
#Continue 
for i in range (10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [51]:
## pass 

for i in range(5):
    if i==3:
        print("pass --->")
        pass
    print(i)

0
1
2
pass --->
3
4

In [52]:
## Nested Loop 
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [53]:
# the sum of n natural numbers 

n = 10 
count = 1
sum = 0

while count<= n:
    sum = sum + count
    count+=1

print(f"The Sum of {n} numbers is",sum)

The Sum of 10 numbers is 55

In [54]:
n = 10 
count = 1
sum = 0

for i in range(1,11):
    sum=sum+i
print(sum)

55

In [55]:
## prime number 
for num in range(1,101):
    if num > 1:
        for i in range(2,num):
            if num%i==0:
                break

        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Lists

In [56]:
lst = []

print(type(lst
           ))

<class 'list'>

In [57]:
names = ["Krish","Jack","Jacob",1,2,3,4,5]
print(names)

['Krish', 'Jack', 'Jacob', 1, 2, 3, 4, 5]

In [58]:
mixed_list = [1,"Hello",3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [59]:
## Accessing List Elements

fruits = ["apple","banana","cherry","kiwi","gauva"]

In [60]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [61]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[-1:])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']
['gauva']

In [62]:
fruits[1] = "watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [63]:
## List methods

fruits.append("orange")
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [64]:
fruits.insert(1,"banana")

print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [65]:
fruits.insert(1,"banana")

print(fruits)

['apple', 'banana', 'banana', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [66]:
fruits.remove("banana")  # it removes at the occurance of the output 
print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [67]:
# removing the last item in the list and return the last element

popped_fruits =fruits.pop()
print(popped_fruits)

print(fruits)

orange
['apple', 'banana', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [68]:
index = fruits.index("cherry")
print(index)

3

In [69]:
count = fruits.count("Banana")
print(count)

0

In [70]:
fruits.sort()

In [71]:
fruits

['apple', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [72]:
fruits.clear()
print(fruits)

[]

In [73]:
## slicing List 

numbers = [1,2,3,4,5,6,7,8,9,10]

print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [74]:
## iterating over list

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [75]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [76]:
## list comprehension

lst = []
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [77]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

####  list comphrension

[expression for item in iterable ]

In [78]:
## basic comprehsion

square = [num**2 for num in range(10)]

print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [79]:
## list comprehsion with condition

lst = []
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

### list comprehsion with condition


[expression for item in iterable if condition]

In [80]:
even_numbers = [num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [81]:
## Nested List Comprehension

lst = [1,2,3,4]
lst2 = ['a','b','c','d']

pair = [[i,j] for i in lst for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [82]:
## list comprehension with function calls

words = ["Hello","world","python","list","comprehension"]
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

In [83]:
## tuples


empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [84]:
lst = list()
print(type(lst))
tpl =  tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [85]:
list((1,2,3,4,4,4))

[1, 2, 3, 4, 4, 4]

In [86]:
mixed_tuple = (1,"Hello World",3.14,True)

print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [87]:
numbers = (1,2,3,4,5,6)
numbers

(1, 2, 3, 4, 5, 6)

In [89]:
numbers[2]
numbers[-1]

6

In [90]:
numbers[0:4]

(1, 2, 3, 4)

In [92]:
## tuple operators
concatention_tuple = numbers + mixed_tuple 
print(concatention_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [93]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [94]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [96]:
## immutable nature of Tuples
# they cannot be changed once assigned 


lst = [1,2,3,4,5]

print(lst)


lst[1] = "Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [97]:
numbers[1]= "Krish"

TypeError: 'tuple' object does not support item assignment

In [99]:
## tuple method 

print(numbers.count(1))
print(numbers.index(3))

1
2

In [100]:
## packing and unpacking tuple 
## packing
packed_tuple = 1 , "Hello " , 3.14
print(packed_tuple)

(1, 'Hello ', 3.14)

In [101]:
# unpacking
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [102]:
#unpacking 

numbers = (1,2,3,4,5,6)
first, *middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [105]:
## Nested tuple 
## nested List

lst = [ [1,2,3,4],[6,7,8, 9],[1,"hello",3.14,"c"]]
lst[0][0:]

[1, 2, 3, 4]

In [108]:
lst = [ [1,2,3,4],[6,7,8, 9],[1,"hello",3.14,"c"]]
lst[2][0:3]

[1, 'hello', 3.14]

In [109]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [110]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [1]:
## Sets 
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [3]:
my_empty_set = set([1,2,3,4,4,5,5,6,9,9])

print(my_empty_set)

print(type(my_empty_set))

{1, 2, 3, 4, 5, 6, 9}
<class 'set'>

In [4]:
my_set = {1,2,3,4,5,6}
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [5]:
## remove the elements from a set

my_set.remove(3)

print(my_set)

{1, 2, 4, 5, 6, 7}

In [6]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [8]:
## pop method 
removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [9]:
my_set.clear()

In [11]:
##  Set memebership Test
my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [15]:
## Mathematical Operation
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}


###Union
union_set = set1.union(set2)
print(union_set)


### intersection

intersection_set = set1.intersection(set2)

print(intersection_set)


set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [16]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}


## Difference 

print(set1.difference(set2))

{1, 2, 3}

In [17]:
set1

{1, 2, 3, 4, 5, 6}

In [18]:
## Symmetric difference 


set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [19]:
## Sets method 


set1 = {1,2,3}
set2 = {3,4,5}

## is subset


print(set1.issubset(set2))

print(set1.issuperset(set2))

False
False

In [20]:
lst = [1,3,5,2,3,3]

set(lst)

{1, 2, 3, 5}

In [22]:
## counting unique Words in text 

text = "In this tutorial we are discussing about sets"

words = text.split()

## convert list of words to set to get unique words


unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'we', 'are', 'In', 'about', 'tutorial', 'sets', 'this', 'discussing'}
8

In [23]:
##  Dictionaries 
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [25]:
student = {"name" : "Sneha","age" : 22 , "grade" :'A'}
print(student)
print(type(student))

{'name': 'Sneha', 'age': 22, 'grade': 'A'}
<class 'dict'>

In [28]:
print(student['grade'])
print(student['age'])


## using get method 

print(student.get('grade'))
print(student.get('last'))

A
22
A
None

In [29]:

print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name','Not Available'))

A
None
Not Available

In [30]:
## Modifying Dictionary elements 
## Dictionary are mutable , so you can add , update or delete elements

In [31]:
student["age"] = 33
print(student)
student["address"] = "India"
print(student)

{'name': 'Sneha', 'age': 33, 'grade': 'A'}
{'name': 'Sneha', 'age': 33, 'grade': 'A', 'address': 'India'}

In [35]:
student['grade'] = 'A'

In [36]:
print(student)

{'name': 'Sneha', 'age': 33, 'address': 'India', 'grade': 'A'}

In [37]:
del student['grade'] ## delete key

In [38]:
print(student)

{'name': 'Sneha', 'age': 33, 'address': 'India'}

In [41]:
## Dictionary methods 

keys = student.keys()
print(keys)
values = student.values()
print(values)


items = student.items()

print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Sneha', 33, 'India'])
dict_items([('name', 'Sneha'), ('age', 33), ('address', 'India')])

In [42]:
## Shallow copy 

student_copy = student 
print(student_copy)
print(student)

{'name': 'Sneha', 'age': 33, 'address': 'India'}
{'name': 'Sneha', 'age': 33, 'address': 'India'}

In [43]:
student["name"] = "Krish1"
print(student)
print(student_copy)

{'name': 'Krish1', 'age': 33, 'address': 'India'}
{'name': 'Krish1', 'age': 33, 'address': 'India'}

In [44]:
student_copy1 = student.copy() ##shallow copy 
print(student_copy1)
print(student)

{'name': 'Krish1', 'age': 33, 'address': 'India'}
{'name': 'Krish1', 'age': 33, 'address': 'India'}

In [45]:
student['name'] = "Sneha"
print(student)
print(student_copy1)

{'name': 'Sneha', 'age': 33, 'address': 'India'}
{'name': 'Krish1', 'age': 33, 'address': 'India'}

In [46]:
## Iterating Over Dictionaries
## You can use loops to iterate over dictionaries , keys,values or items

for keys in student.keys():
    print(keys)

name
age
address

In [47]:
for values in student.values():
    print(values)

Sneha
33
India

In [49]:
for key,value in student.items():
    print(f"key : {key} and values : {value}")

key : name and values : Sneha
key : age and values : 33
key : address and values : India

In [51]:
## Nested Dictionary 

students ={
    "student1" : {"name" : "Sneha" , "age" : 22} ,
    "student2" : {"name" : "Vishal" , "age" : 25} ,
    "student3" : {"name" : "Vilas" , "age" : 55}
}

print(students)

{'student1': {'name': 'Sneha', 'age': 22}, 'student2': {'name': 'Vishal', 'age': 25}, 'student3': {'name': 'Vilas', 'age': 55}}

In [52]:
## Accessing the nested dictionaries elements 

print(students["student2"]["name"])

Vishal

In [54]:
#iterating the nested dict
for student_id , student_info in students.items():
    print(f"{student_id} : {student_info}")
    for key,values in student_info.items():
        
        print(f"{key}:{value}")

student1 : {'name': 'Sneha', 'age': 22}
name:India
age:India
student2 : {'name': 'Vishal', 'age': 25}
name:India
age:India
student3 : {'name': 'Vilas', 'age': 55}
name:India
age:India

In [55]:
## Dictionary Comphrehension

squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [56]:
## Conditional comprehension 

evens = { x: x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [62]:
numbers = [1,2,2,3,3,3,4,4,4,4]
frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number] +=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [64]:
## Merge the dictionary 

dic1 = {"a":1 ,"b" :2 }
dic2 = {"b":3 , "c": 4}

merged_dict = {**dic1,**dic2}

print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [1]:
## Real world scenerioes

to_do_list = ["Buy Groceries","Clean the house","Pay bills"]

## Adding to task 

to_do_list.append("Schedule meeting")
to_do_list.append("Go For a Run")

## Removing a completed task 
to_do_list.remove("Clean the house")

## checking if a task is in task 
if "Pay bills" in to_do_list:
    print("Don't forget to pay the utility bills")

print("To Do List remaining")
for task in to_do_list:
    print(f"--{task}")

Don't forget to pay the utility bills
To Do List remaining
--Buy Groceries
--Pay bills
--Schedule meeting
--Go For a Run

## Functions


it helps a certain code for reusability

In [2]:
## syntax
def function_name(parameters):
    """docstring """
    # Function body 
    return expression

In [3]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [4]:
def even_or_odd(num):
    """This function checks the even or odd"""
    if num%2==0:
        print(f"Given number : {num} is even ")
    else:
        print(f"Given number : {num} is odd")

In [5]:
## call the function

even_or_odd(100)

Given number : 100 is even

In [6]:
## multiple parameters

def add(a,b):
    return a+b

result = add(2,3)
print(result)

5

In [11]:
## default parameters

def greet(name="Sneha"):
    print(f"Hello {name} Welcome to the paradise")

greet("Sneha Pujari")

Hello Sneha Pujari Welcome to the paradise

In [14]:
###  Variable Length Arguments 
### Positional And Keywords arguments


def print_numbers(*args):
    for i in args:
        print(i)

In [15]:
#calling the function


print_numbers(1,2,3,4,5,6,7,8,9,"Sneha")

1
2
3
4
5
6
7
8
9
Sneha

In [16]:
### Keywords  Arguments
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}: {value}")

In [17]:
print_details(name = "Sneha", age = "32" , country= "India")

name: Sneha
age: 32
country: India

In [18]:
def print_details(*args,**kwargs):
    for val in args:
        print(f"Positional argument : {val}")
    for key,value in kwargs.items():
        print(f"{key} : {value}")

In [19]:
print_details(1,2,3,4,"Sneha" ,name = "Sneha", age = "32" , country= "India")

Positional argument : 1
Positional argument : 2
Positional argument : 3
Positional argument : 4
Positional argument : Sneha
name : Sneha
age : 32
country : India

In [21]:
## return statements
def multiply(a,b):
    return a*b,a

result = multiply(2,3)
print(result)

(6, 2)

In [25]:
def convert_temperature(temp,unit):
    """This functionn converts temperature between celsius anf fahrenheit"""
    if unit == 'C' :
        return temp * 9/5  + 32   ##Celsius to Fahrenheit 
    elif unit=='F':
        return (temp-32)*5/9    ## Fahrenheit to celsius 
    else :
        return None

In [26]:
print(convert_temperature(25,'C'))
print(convert_temperature(77,'K'))

77.0
None

In [27]:
def is_strongpassword(password):
    if len(password) < 8 :
        return False
    if not any(char.isdigit() for char in password ):
        return False
    if not any(char.islower() for char in password):
        return False 
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_+'  for char in password):
        return False 
    return True 

## Calling functionn


print(is_strongpassword("Sneha@12345"))

True

In [28]:
def calculate_total_cost(cart):
    total_cost = 0
    for item in cart:
        total_cost+=item['price']*item['quantity']
    return total_cost 


## Example cart data 

cart = [
    {
        'name' : 'Apple' , 'price' : 0.5 , 'quantity' : 4
    },
    {
        'name' : 'Banana' , 'price' : 0.3 ,'quantity' : 6
    },
    {
        'name'  : 'Orange' , 'price' : 0.7 , 'quantity' :3
    }
]


total_cost = calculate_total_cost(cart)
print(total_cost)

5.8999999999999995

In [30]:
def is_palindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]

print(is_palindrome("A man a plan a canal Panama"))
print(is_palindrome("Hello"))

True
False

In [31]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(6))

720

In [35]:
def count_word_frequency(file_path):
    word_count = {}
    with open(file_path,'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('.,!?;:"\'')
                word_count[word] = word_count.get(word,0)+1
    return word_count


filepath = 'sample.txt'
word_frequency = count_word_frequency(filepath)
print(word_frequency)

{'hello': 1, 'world': 1, 'how': 1, 'are': 1, 'you': 1, 'my': 1, 'name': 1, 'is': 1, 'sneha': 2}

In [39]:
# valid email
import re
def is_valid(email):
    """This function is for validation of email"""
    pattern = r'^[a-aZ-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern,email)

#calling the function
print(is_valid("test@example.com"))  

print(is_valid("invalid-email"))

None
None

In [ ]:
# lambda Function