#### Random Forest Classifier

In [315]:
import pandas as pd 
import matplotlib.pyplot as plt

In [316]:
df = pd.read_csv('Travel.csv')
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [317]:
df['Gender'].value_counts()

Gender
Male       2916
Female     1817
Fe Male     155
Name: count, dtype: int64

In [318]:
df.isnull().sum()

CustomerID                    0
ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [319]:
df['MaritalStatus'].value_counts()

MaritalStatus
Married      2340
Divorced      950
Single        916
Unmarried     682
Name: count, dtype: int64

In [320]:
df['TypeofContact'].value_counts()

TypeofContact
Self Enquiry       3444
Company Invited    1419
Name: count, dtype: int64

In [321]:
df['Gender']  = df['Gender'].replace('Fe Male','Female')
df['MaritalStatus'] = df['MaritalStatus'].replace('Single','Unmarried')

In [322]:
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [323]:
df['Gender'].value_counts()

Gender
Male      2916
Female    1972
Name: count, dtype: int64

In [324]:
import numpy as np

In [325]:
## Check missing values 

features_with_na = [features for features in df.columns if df[features].isnull().sum() >=1]
for feature in features_with_na:
    print(feature, np.round(df[feature].isnull().mean()*100,5))

Age 4.62357
TypeofContact 0.51146
DurationOfPitch 5.13502
NumberOfFollowups 0.92062
PreferredPropertyStar 0.53191
NumberOfTrips 2.86416
NumberOfChildrenVisiting 1.35025
MonthlyIncome 4.76678

In [326]:
df[features_with_na].select_dtypes(exclude = 'object').describe()

,Age,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,NumberOfChildrenVisiting,MonthlyIncome
count,4662.000000,4637.000000,4843.000000,4862.000000,4748.000000,4822.000000,4655.000000
mean,37.622265,15.490835,3.708445,3.581037,3.236521,1.187267,23619.853491
std,9.316387,8.519643,1.002509,0.798009,1.849019,0.857861,5380.698361
min,18.000000,5.000000,1.000000,3.000000,1.000000,0.000000,1000.000000
25%,31.000000,9.000000,3.000000,3.000000,2.000000,1.000000,20346.000000
50%,36.000000,13.000000,4.000000,3.000000,3.000000,1.000000,22347.000000
75%,44.000000,20.000000,4.000000,4.000000,4.000000,2.000000,25571.000000
max,61.000000,127.000000,6.000000,5.000000,22.000000,3.000000,98678.000000

In [327]:
df.fillna({'Age': df['Age'].median()}, inplace=True)

In [328]:
df.fillna({'TypeofContact': df['TypeofContact'].mode()[0]}, inplace=True)

In [329]:
df.fillna({'DurationOfPitch': df['DurationOfPitch'].median()}, inplace=True)

In [330]:
df.fillna({'NumberOfFollowups': df['NumberOfFollowups'].mode()[0]}, inplace=True)

In [331]:
df.fillna({'PreferredPropertyStar': df['PreferredPropertyStar'].mode()[0]}, inplace=True)

In [332]:
df.fillna({'NumberOfTrips': df['NumberOfTrips'].median()}, inplace=True)

In [333]:
df.fillna({'NumberOfChildrenVisiting': df['NumberOfChildrenVisiting'].mode()[0]}, inplace=True)

In [334]:
df.fillna({'MonthlyIncome': df['MonthlyIncome'].median()}, inplace=True)

In [335]:

df.head()

df.isnull().sum()

CustomerID                  0
ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [336]:
df.drop('CustomerID', inplace = True , axis = 1)

In [337]:
df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,36.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0

In [338]:
## Create a new column for feature 

df['TotalVisting'] = df['NumberOfPersonVisiting'] + df['NumberOfChildrenVisiting']
df.drop(columns  = ['NumberOfPersonVisiting', 'NumberOfChildrenVisiting'] , axis=1 , inplace = True)

In [339]:
### get all the numeric features 

num_features = [features for features in df.columns if df[features].dtype !='O']
print('Num of numerical features:' , len(num_features))

Num of numerical features: 12

In [340]:
### categorical features 

cat_features = [ features for features in df.columns if df[features].dtype == 'O' ]
print('Num of Categorical Features' ,len(cat_features))

Num of Categorical Features 6

In [341]:
# discrete 

discrete_features =  [ features for features in df.columns if len(df[features].unique()) <= 25]
print('Discrete features :' , len(discrete_features))

Discrete features : 15

In [342]:
## Continous 

continous_features = [feature for feature in num_features if feature not in discrete_features ]
print("Num of continous features" , len(continous_features))

Num of continous features 3

In [343]:
df.isnull().sum()

ProdTaken                 0
Age                       0
TypeofContact             0
CityTier                  0
DurationOfPitch           0
Occupation                0
Gender                    0
NumberOfFollowups         0
ProductPitched            0
PreferredPropertyStar     0
MaritalStatus             0
NumberOfTrips             0
Passport                  0
PitchSatisfactionScore    0
OwnCar                    0
Designation               0
MonthlyIncome             0
TotalVisting              0
dtype: int64

In [344]:
from sklearn.model_selection import  train_test_split
X = df.drop(['ProdTaken'] , axis = 1)
y = df['ProdTaken']

In [345]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [346]:
X_train,X_test , y_train,y_test = train_test_split(X,y,test_size= 0.2 , random_state=14 )
X_train.shape , X_test.shape

((3910, 17), (978, 17))

In [347]:
## Create Column Transformer 

cat_features = X.select_dtypes(include = "object").columns
num_features = X.select_dtypes(exclude="object").columns

In [348]:
from sklearn.preprocessing import OneHotEncoder , StandardScaler 
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
old_transformer = OneHotEncoder(drop = 'first')

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder" , old_transformer , cat_features),
        ("StandardScaler" , numeric_transformer , num_features)
    ]
)

In [349]:
X_train = preprocessor.fit_transform(X_train)

In [350]:
X_test = preprocessor.transform(X_test)

In [351]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [352]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix,precision_score,recall_score,f1_score,roc_auc_score

In [353]:
models = {
 "Logistic_Regression" : LogisticRegression() ,
    "Random Forest" : RandomForestClassifier() ,
    "DecisionTreeClassifier"  : DecisionTreeClassifier()
}

for  i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)



    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_accuracy = accuracy_score(y_train,y_train_pred)
    model_train_f1 = f1_score(y_train , y_train_pred , average = 'weighted')
    model_train_precision = precision_score(y_train,y_train_pred)
    model_train_recall = recall_score(y_train,y_train_pred)
    model_train_rocauc_score = roc_auc_score(y_train,y_train_pred)


    model_test_accuracy = accuracy_score(y_test,y_test_pred)
    model_test_f1 = f1_score(y_test , y_test_pred , average = 'weighted')
    model_test_precision = precision_score(y_test,y_test_pred)
    model_test_recall = recall_score(y_test,y_test_pred)
    model_test_rocauc_score = roc_auc_score(y_test,y_test_pred)

    print(list(models.keys())[i])

    print("Model performance for training set")
    print(" - Acurracy :{:.4f}".format(model_train_accuracy))
    print(" - F1 score :{:.4f}".format(model_train_f1))
    print(" - precison :{:.4f}".format(model_train_precision))
    print(" - recall :{:.4f}".format(model_train_recall))
    print(" - roc :{:.4f}".format(model_train_rocauc_score))

    print("------------------------------------------------------------------------------------------------")


    print("Model performance for testing set")
    print(" - Acurracy :{:.4f}".format(model_test_accuracy))
    print(" - F1 score :{:.4f}".format(model_test_f1))
    print(" - precison :{:.4f}".format(model_test_precision))
    print(" - recall :{:.4f}".format(model_test_recall))
    print(" - roc :{:.4f}".format(model_test_rocauc_score))


    print('='*35)
    print('\n')

Logistic_Regression
Model performance for training set
 - Acurracy :0.8460
 - F1 score :0.8176
 - precison :0.6821
 - recall :0.2713
 - roc :0.6218
------------------------------------------------------------------------------------------------
Model performance for testing set
 - Acurracy :0.8190
 - F1 score :0.7876
 - precison :0.7241
 - recall :0.2917
 - roc :0.6301
===================================

Random Forest
Model performance for training set
 - Acurracy :1.0000
 - F1 score :1.0000
 - precison :1.0000
 - recall :1.0000
 - roc :1.0000
------------------------------------------------------------------------------------------------
Model performance for testing set
 - Acurracy :0.9233
 - F1 score :0.9177
 - precison :0.9796
 - recall :0.6667
 - roc :0.8314
===================================


DecisionTreeClassifier
Model performance for training set
 - Acurracy :1.0000
 - F1 score :1.0000
 - precison :1.0000
 - recall :1.0000
 - roc :1.0000
------------------------------------------------------------------------------------------------
Model performance for testing set
 - Acurracy :0.9100
 - F1 score :0.9105
 - precison :0.7883
 - recall :0.8102
 - roc :0.8743
===================================

In [354]:
#### Hyperparameter tuning 

rf_params = {
"max_depth" : [5,8,15,None,10] ,
"max_features" : [5,7,"auto" , 8] ,
"min_samples_split" : [2,8,15,20] ,
"n_estimators" : [100,200,500,1000]
}

In [355]:
randomcv_models = [

    ("RF" ) , RandomForestClassifier() , rf_params
]

In [356]:
randomcv_models

['RF',
 RandomForestClassifier(),
 {'max_depth': [5, 8, 15, None, 10],
  'max_features': [5, 7, 'auto', 8],
  'min_samples_split': [2, 8, 15, 20],
  'n_estimators': [100, 200, 500, 1000]}]

In [357]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC




randomcv_models = [
    ("RandomForest", RandomForestClassifier(), {"n_estimators": [10, 50, 100], "max_depth": [None, 10, 20]}),
    ("SVC", SVC(), {"C": [0.1, 1, 10], "kernel": ["linear", "rbf"]}),
]

In [358]:
from sklearn.model_selection import RandomizedSearchCV
import warnings 
warnings.simplefilter(action='ignore')

model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                param_distributions=params,
                                n_iter=100,
                                cv=2,
                                verbose=2,
                                n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f" ---------------Best Params for {model_name} ------------------------")
    print(model_param[model_name])

Fitting 2 folds for each of 9 candidates, totalling 18 fits

Fitting 2 folds for each of 6 candidates, totalling 12 fits
 ---------------Best Params for RandomForest ------------------------
{'n_estimators': 100, 'max_depth': None}
 ---------------Best Params for SVC ------------------------
{'kernel': 'rbf', 'C': 10}

#### Random forest regression

In [359]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import plotly.express as px 
import warnings 
warnings.filterwarnings("ignore")
%matplotlib inline

In [361]:
df = pd.read_csv("cardekho_imputated.csv" , index_col= [0])

In [362]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [363]:
#### Data Cleaning 


df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [364]:
df.drop('car_name' , axis = 1 , inplace = True)
df.drop('brand' , axis = 1 , inplace = True)

In [365]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [366]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [367]:
## Independent and dependent features 

from sklearn.model_selection import train_test_split
X = df.drop(['selling_price'] , axis = 1)
y = df['selling_price']

In [368]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [371]:
len(df['model'].unique())

120

In [372]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [373]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [374]:
num_features = X.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type' , 'fuel_type','transmission_type']
label_encoder_columns = ['model']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer =StandardScaler()
oh_transformer = OneHotEncoder(drop = 'first')


preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder" , oh_transformer, onehot_columns),
        ("StandardScaler" ,numeric_transformer,num_features)
    ] , remainder= 'passthrough'
)

In [375]:
X = preprocessor.fit_transform(X)

In [376]:
X

array([[ 1.        ,  0.        ,  0.        , ..., -1.32425883,
        -1.26335238, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43257082, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.47911321, -0.40302241],
       ...,
       [ 0.        ,  0.        ,  1.        , ...,  0.02291783,
         0.06822523, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  1.32979434,
         0.91715831,  2.07344426],
       [ 0.        ,  0.        ,  0.        , ...,  0.02099878,
         0.39588361, -0.40302241]], shape=(15411, 14))

In [377]:
### Independent and depenent 
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2 , random_state=10 )
X_train.shape , X_test.shape

((12328, 14), (3083, 14))

In [378]:
X_train

array([[ 1.        ,  0.        ,  0.        , ...,  0.21482334,
         0.06077845, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.5566368 ,
        -0.71182513, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  0.98436442,
         1.77819241, -0.40302241],
       ...,
       [ 1.        ,  0.        ,  0.        , ..., -0.5566368 ,
        -0.7113597 , -0.40302241],
       [ 0.        ,  0.        ,  1.        , ..., -0.16706862,
        -0.75836751, -0.40302241],
       [ 1.        ,  0.        ,  1.        , ..., -0.17282578,
        -0.2759557 , -0.40302241]], shape=(12328, 14))

In [381]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor 
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [388]:
models = {
    "Logistic_Regression": LogisticRegression(),
    "Random Forest": RandomForestRegressor(),
    "DecisionTreeRegressor": DecisionTreeRegressor()
}

def evaluate_model(y_true, y_pred):
    from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
    
    mse = mean_squared_error(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    r2 = r2_score(y_true, y_pred)
    
    return mae, mse, r2

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train)
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    model_train_mae, model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)
    
    print(list(models.keys())[i])
    print("Model performance for train data")
    print("MAE: {:.4f}".format(model_train_mae))
    print("MSE: {:.4f}".format(model_train_rmse))
    print("R2: {:.4f}".format(model_train_r2))
    print("---------------------------------------------------------------------------------------------------------")
    print('=' * 35)
    print('\n')

Logistic_Regression
Model performance for train data
MAE: 191076.0160
MSE: 198521567956.3291
R2: 0.7197
---------------------------------------------------------------------------------------------------------
===================================


Random Forest
Model performance for train data
MAE: 38514.3886
MSE: 7961760718.2331
R2: 0.9888
---------------------------------------------------------------------------------------------------------
===================================


DecisionTreeRegressor
Model performance for train data
MAE: 4814.6279
MSE: 383900402.8769
R2: 0.9995
---------------------------------------------------------------------------------------------------------
===================================