In [52]:
#import the library
import pymongo

In [53]:
#Integrating the mongo with python
client = pymongo.MongoClient('mongodb+srv://Ramsey007:Sneha%401234@cluster0.7n41x.mongodb.net/')

In [54]:
# Creating the database called Employee
mydb = client['Employee']

In [55]:
#creating the collection in Employee database
information= mydb.employeeinformation

In [56]:
record = [{
    'Firstname':'Sneha',
    'Lastname':'Pujari',
    'Department':'Analytics',
    'age' : 22

},{
    'Firstname':'Sneha2',
    'Lastname':'Pujari2',
    'Department':'Analytics2'
    , 'age' : 23

},{
    'Firstname':'Sneha3',
    'Lastname':'Pujari3',
    'Department':'Analytics3',
    'age' : 30

},]

In [57]:
information.insert_many(record)

InsertManyResult([ObjectId('6749b7cce666778e46958113'), ObjectId('6749b7cce666778e46958114'), ObjectId('6749b7cce666778e46958115')], acknowledged=True)

In [58]:
##Simply way of querying 

information.find_one()

{'_id': ObjectId('6749b7cce666778e46958113'),
 'Firstname': 'Sneha',
 'Lastname': 'Pujari',
 'Department': 'Analytics',
 'age': 22}

In [59]:
## Similarly as SELECT * FROM information
information.find()

In [60]:
for record in information.find():
    print(record)

{'_id': ObjectId('6749b7cce666778e46958113'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics', 'age': 22}
{'_id': ObjectId('6749b7cce666778e46958114'), 'Firstname': 'Sneha2', 'Lastname': 'Pujari2', 'Department': 'Analytics2', 'age': 23}
{'_id': ObjectId('6749b7cce666778e46958115'), 'Firstname': 'Sneha3', 'Lastname': 'Pujari3', 'Department': 'Analytics3', 'age': 30}

In [61]:
## query the json documents based on equality conditions
for record in information.find({'Firstname':'Sneha'}):
    print(record)

{'_id': ObjectId('6749b7cce666778e46958113'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics', 'age': 22}

In [62]:
## Query documents using query operators ($in,$lt,$gt)

for record in information.find({'age': {'$in' :[22,23,24]}}):
    print(record)

{'_id': ObjectId('6749b7cce666778e46958113'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics', 'age': 22}
{'_id': ObjectId('6749b7cce666778e46958114'), 'Firstname': 'Sneha2', 'Lastname': 'Pujari2', 'Department': 'Analytics2', 'age': 23}

In [63]:
# it is for less tham
for record in information.find({'age' : {'$lt' : 30}}):
    print(record)

{'_id': ObjectId('6749b7cce666778e46958113'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics', 'age': 22}
{'_id': ObjectId('6749b7cce666778e46958114'), 'Firstname': 'Sneha2', 'Lastname': 'Pujari2', 'Department': 'Analytics2', 'age': 23}

In [64]:
# it is for greater than
for record in information.find(
    {'age' : {'$gt' : 20}}
):
    print(record)

{'_id': ObjectId('6749b7cce666778e46958113'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics', 'age': 22}
{'_id': ObjectId('6749b7cce666778e46958114'), 'Firstname': 'Sneha2', 'Lastname': 'Pujari2', 'Department': 'Analytics2', 'age': 23}
{'_id': ObjectId('6749b7cce666778e46958115'), 'Firstname': 'Sneha3', 'Lastname': 'Pujari3', 'Department': 'Analytics3', 'age': 30}

In [65]:
# And and Query operations
for record in information.find(
 {'Firstname' : 'Sneha1' ,'age' : 22} 

   
):
    print(record)

In [66]:
# oR 

for record in information.find({'$or':[{'Firstname' : 'Sneha'} , {'age' : 22}]}):
    print(record)

{'_id': ObjectId('6749b7cce666778e46958113'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics', 'age': 22}

In [67]:
inventory = mydb.inventory

In [68]:
inventory.insert_many(
    [
        {'item':'Journal','qty':25 ,'size' : {'h':14,'w':21,'uom':'cm'}},
       { 'item':'Journal','qty':25 ,'size' : {'h':14,'w':21,'uom':'cm'}},
    
    ]
)

InsertManyResult([ObjectId('6749b7cde666778e46958116'), ObjectId('6749b7cde666778e46958117')], acknowledged=True)

In [69]:
inventory.update_one({'item':'Journal'},{'$set' : {'item':'notebook'}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000001e8'), 'opTime': {'ts': Timestamp(1732884429, 2), 't': 488}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1732884429, 2), 'signature': {'hash': b'<\x16Y\t\xff\xea\x1a\xe5\xa0\xba\x11\xc5\x82\xb6\x7f\xdd^\xfc\xd1\xed', 'keyId': 7385875664873718018}}, 'operationTime': Timestamp(1732884429, 2), 'updatedExisting': True}, acknowledged=True)

In [70]:
inventory.update_one({'item':'notebook'},{'$set' : {'size.w': 44},'$currentDate':{"lastModified": True}})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000001e8'), 'opTime': {'ts': Timestamp(1732884429, 3), 't': 488}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1732884429, 3), 'signature': {'hash': b'<\x16Y\t\xff\xea\x1a\xe5\xa0\xba\x11\xc5\x82\xb6\x7f\xdd^\xfc\xd1\xed', 'keyId': 7385875664873718018}}, 'operationTime': Timestamp(1732884429, 3), 'updatedExisting': True}, acknowledged=True)

In [71]:
for i in inventory.find():
    print(i)

{'_id': ObjectId('6749b7cde666778e46958116'), 'item': 'notebook', 'qty': 25, 'size': {'h': 14, 'w': 44, 'uom': 'cm'}, 'lastModified': datetime.datetime(2024, 11, 29, 12, 47, 9, 57000)}
{'_id': ObjectId('6749b7cde666778e46958117'), 'item': 'Journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}

In [72]:
inventory.update_many({'item':'Journal'},{'$set' : {'size.h': 40 }})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000001e8'), 'opTime': {'ts': Timestamp(1732884429, 6), 't': 488}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1732884429, 6), 'signature': {'hash': b'<\x16Y\t\xff\xea\x1a\xe5\xa0\xba\x11\xc5\x82\xb6\x7f\xdd^\xfc\xd1\xed', 'keyId': 7385875664873718018}}, 'operationTime': Timestamp(1732884429, 6), 'updatedExisting': True}, acknowledged=True)

In [73]:
for i in inventory.find():
    print(i)

{'_id': ObjectId('6749b7cde666778e46958116'), 'item': 'notebook', 'qty': 25, 'size': {'h': 14, 'w': 44, 'uom': 'cm'}, 'lastModified': datetime.datetime(2024, 11, 29, 12, 47, 9, 57000)}
{'_id': ObjectId('6749b7cde666778e46958117'), 'item': 'Journal', 'qty': 25, 'size': {'h': 40, 'w': 21, 'uom': 'cm'}}

In [74]:
inventory.replace_one({'item':'notebook'},{'item':'book'})

UpdateResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000001e8'), 'opTime': {'ts': Timestamp(1732884429, 11), 't': 488}, 'nModified': 1, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1732884429, 11), 'signature': {'hash': b'<\x16Y\t\xff\xea\x1a\xe5\xa0\xba\x11\xc5\x82\xb6\x7f\xdd^\xfc\xd1\xed', 'keyId': 7385875664873718018}}, 'operationTime': Timestamp(1732884429, 11), 'updatedExisting': True}, acknowledged=True)

In [75]:
for i in inventory.find():
    print(i)

{'_id': ObjectId('6749b7cde666778e46958116'), 'item': 'book'}
{'_id': ObjectId('6749b7cde666778e46958117'), 'item': 'Journal', 'qty': 25, 'size': {'h': 40, 'w': 21, 'uom': 'cm'}}

In [76]:
for i in inventory.find({'item':'book'}):
    print(i)

{'_id': ObjectId('6749b7cde666778e46958116'), 'item': 'book'}

In [77]:
for i in inventory.find({'size.h' : {'$lt' : 50 }}):
    print(i)

{'_id': ObjectId('6749b7cde666778e46958117'), 'item': 'Journal', 'qty': 25, 'size': {'h': 40, 'w': 21, 'uom': 'cm'}}

In [78]:
record = [
        {
            'item' : 'pencil' ,'company' : ['Natraj', 'Aparasa'] , 'price' : 20 
        },
        {
            'item' : 'bag' , 'company' : ['skybag','VIP'] , 'price' : 6799
        }
    ]

In [79]:
inventory.insert_many(record)

InsertManyResult([ObjectId('6749b7cde666778e46958118'), ObjectId('6749b7cde666778e46958119')], acknowledged=True)

In [80]:
agg = inventory.aggregate( [
    {"$group" :  {"_id" : "$item","Total Price" : {"$sum" : "$price"}}}
]
)
for i in agg:
    print(i)

{'_id': 'bag', 'Total Price': 6799}
{'_id': 'book', 'Total Price': 0}
{'_id': 'pencil', 'Total Price': 20}
{'_id': 'Journal', 'Total Price': 0}

In [81]:
agg = inventory.aggregate( [
    {"$group" :  {"_id" : "$item","Total Price" : {"$avg" : "$price"}}}
]
)
for i in agg:
    print(i)

{'_id': 'pencil', 'Total Price': 20.0}
{'_id': 'book', 'Total Price': None}
{'_id': 'Journal', 'Total Price': None}
{'_id': 'bag', 'Total Price': 6799.0}

In [82]:
import datetime as datetime


data = [
    {
        'item' : 'Shoe' , 'name' : 'paragon' ,'price': 90 , 'date' : datetime.datetime.utcnow()
    },
     {
        'item' : 'shirt' , 'name' : 'H&M' ,'price': 1000 , 'date' : datetime.datetime.utcnow()
    },
]

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6188\686757385.py:6: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  'item' : 'Shoe' , 'name' : 'paragon' ,'price': 90 , 'date' : datetime.datetime.utcnow()
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_6188\686757385.py:9: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  'item' : 'shirt' , 'name' : 'H&M' ,'price': 1000 , 'date' : datetime.datetime.utcnow()

In [83]:
newer = client['Shopee']

In [84]:
database = newer.requirements

In [85]:
database.insert_many(data)

InsertManyResult([ObjectId('6749b7cde666778e4695811a'), ObjectId('6749b7cde666778e4695811b')], acknowledged=True)

In [86]:
total =database.aggregate([{ "$group" :
  {  '_id' : '$name' , 'total price' : {'$sum' : 'price'}
}}])

for i in total :
    print(i)

{'_id': 'H&M', 'total price': 0}
{'_id': 'paragon', 'total price': 0}