In [15]:
#import the library
import pymongo

In [16]:
#Integrating the mongo with python
client = pymongo.MongoClient('mongodb://127.0.0.1:27017/')

In [17]:
# Creating the database called Employee
mydb = client['Employee']

In [18]:
#creating the collection in Employee database
information= mydb.employeeinformation

In [19]:
record = [{
    'Firstname':'Sneha',
    'Lastname':'Pujari',
    'Department':'Analytics',
    'age' : 22

},{
    'Firstname':'Sneha2',
    'Lastname':'Pujari2',
    'Department':'Analytics2'
    , 'age' : 23

},{
    'Firstname':'Sneha3',
    'Lastname':'Pujari3',
    'Department':'Analytics3',
    'age' : 30

},]

In [20]:
information.insert_many(record)

InsertManyResult([ObjectId('674979356870d6cc141cc58f'), ObjectId('674979356870d6cc141cc590'), ObjectId('674979356870d6cc141cc591')], acknowledged=True)

In [21]:
##Simply way of querying 

information.find_one()

{'_id': ObjectId('67496745514e8f82d880d22a'),
 'Firstname': 'Sneha',
 'Lastname': 'Pujari',
 'Department': 'Analytics'}

In [22]:
## Similarly as SELECT * FROM information
information.find()

In [23]:
for record in information.find():
    print(record)

{'_id': ObjectId('67496745514e8f82d880d22a'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics'}
{'_id': ObjectId('67496908514e8f82d880d22b'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics'}
{'_id': ObjectId('67496908514e8f82d880d22c'), 'Firstname': 'Sneha2', 'Lastname': 'Pujari2', 'Department': 'Analytics2'}
{'_id': ObjectId('67496908514e8f82d880d22d'), 'Firstname': 'Sneha3', 'Lastname': 'Pujari3', 'Department': 'Analytics3'}
{'_id': ObjectId('6749763f6870d6cc141cc58b'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics'}
{'_id': ObjectId('6749763f6870d6cc141cc58c'), 'Firstname': 'Sneha2', 'Lastname': 'Pujari2', 'Department': 'Analytics2'}
{'_id': ObjectId('6749763f6870d6cc141cc58d'), 'Firstname': 'Sneha3', 'Lastname': 'Pujari3', 'Department': 'Analytics3'}
{'_id': ObjectId('674979356870d6cc141cc58f'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics', 'age': 22}
{'_id': ObjectId('674979356870d6cc141cc590'), 'Firstname': 'Sneha2', 'Lastname': 'Pujari2', 'Department': 'Analytics2', 'age': 23}
{'_id': ObjectId('674979356870d6cc141cc591'), 'Firstname': 'Sneha3', 'Lastname': 'Pujari3', 'Department': 'Analytics3', 'age': 30}

In [24]:
## query the json documents based on equality conditions
for record in information.find({'Firstname':'Sneha'}):
    print(record)

{'_id': ObjectId('67496745514e8f82d880d22a'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics'}
{'_id': ObjectId('67496908514e8f82d880d22b'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics'}
{'_id': ObjectId('6749763f6870d6cc141cc58b'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics'}
{'_id': ObjectId('674979356870d6cc141cc58f'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics', 'age': 22}

In [26]:
## Query documents using query operators ($in,$lt,$gt)

for record in information.find({'age': {'$in' :[22,23,24]}}):
    print(record)

{'_id': ObjectId('674979356870d6cc141cc58f'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics', 'age': 22}
{'_id': ObjectId('674979356870d6cc141cc590'), 'Firstname': 'Sneha2', 'Lastname': 'Pujari2', 'Department': 'Analytics2', 'age': 23}

In [27]:
# it is for less tham
for record in information.find({'age' : {'$lt' : 30}}):
    print(record)

{'_id': ObjectId('674979356870d6cc141cc58f'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics', 'age': 22}
{'_id': ObjectId('674979356870d6cc141cc590'), 'Firstname': 'Sneha2', 'Lastname': 'Pujari2', 'Department': 'Analytics2', 'age': 23}

In [28]:
# it is for greater than
for record in information.find(
    {'age' : {'$gt' : 20}}
):
    print(record)

{'_id': ObjectId('674979356870d6cc141cc58f'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics', 'age': 22}
{'_id': ObjectId('674979356870d6cc141cc590'), 'Firstname': 'Sneha2', 'Lastname': 'Pujari2', 'Department': 'Analytics2', 'age': 23}
{'_id': ObjectId('674979356870d6cc141cc591'), 'Firstname': 'Sneha3', 'Lastname': 'Pujari3', 'Department': 'Analytics3', 'age': 30}

In [37]:
# And and Query operations
for record in information.find(
 {'Firstname' : 'Sneha1' ,'age' : 22} 

   
):
    print(record)

In [38]:
# oR 

for record in information.find({'$or':[{'Firstname' : 'Sneha'} , {'age' : 22}]}):
    print(record)

{'_id': ObjectId('67496745514e8f82d880d22a'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics'}
{'_id': ObjectId('67496908514e8f82d880d22b'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics'}
{'_id': ObjectId('6749763f6870d6cc141cc58b'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics'}
{'_id': ObjectId('674979356870d6cc141cc58f'), 'Firstname': 'Sneha', 'Lastname': 'Pujari', 'Department': 'Analytics', 'age': 22}

In [39]:
inventory = mydb.inventory

In [40]:
inventory.insert_many(
    [
        {'item':'Journal','qty':25 ,'size' : {'h':14,'w':21,'uom':'cm'}},
       { 'item':'Journal','qty':25 ,'size' : {'h':14,'w':21,'uom':'cm'}},
    
    ]
)

InsertManyResult([ObjectId('6749816a6870d6cc141cc592'), ObjectId('6749816a6870d6cc141cc593')], acknowledged=True)

In [42]:
inventory.update_one({'item':'Journal'},{'$set' : {'item':'notebook'}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [48]:
inventory.update_one({'item':'notebook'},{'$set' : {'size.w': 44},'$currentDate':{"lastModified": True}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [49]:
for i in inventory.find():
    print(i)

{'_id': ObjectId('6749816a6870d6cc141cc592'), 'item': 'notebook', 'qty': 25, 'size': {'h': 14, 'w': 44, 'uom': 'cm'}, 'lastModified': datetime.datetime(2024, 11, 29, 9, 18, 40, 278000)}
{'_id': ObjectId('6749816a6870d6cc141cc593'), 'item': 'Journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}

In [52]:
inventory.update_many({'item':'Journal'},{'$set' : {'size.h': 40 }})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [53]:
for i in inventory.find():
    print(i)

{'_id': ObjectId('6749816a6870d6cc141cc592'), 'item': 'notebook', 'qty': 25, 'size': {'h': 14, 'w': 44, 'uom': 'cm'}, 'lastModified': datetime.datetime(2024, 11, 29, 9, 18, 40, 278000)}
{'_id': ObjectId('6749816a6870d6cc141cc593'), 'item': 'Journal', 'qty': 25, 'size': {'h': 40, 'w': 21, 'uom': 'cm'}}

In [54]:
inventory.replace_one({'item':'notebook'},{'item':'book'})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [55]:
for i in inventory.find():
    print(i)

{'_id': ObjectId('6749816a6870d6cc141cc592'), 'item': 'book'}
{'_id': ObjectId('6749816a6870d6cc141cc593'), 'item': 'Journal', 'qty': 25, 'size': {'h': 40, 'w': 21, 'uom': 'cm'}}