In [2]:
## Basic Syntax Rules In python 
## Case sensitivity 
name = "Sneha"
Name = "Pujari"


print(name)
print(Name)

Sneha
Pujari

In [3]:
## indentation
age = 32 
if age > 30 :
    print("Good,indentation explained")

Good,indentation explained

In [4]:
## Line Continuation

total = 1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [5]:
## Multiple Statements on a single line

x=5;y=10;z=x+y
print(z)

15

In [6]:
##Understand Semantics in Python
# variable assignment 
age = 32 
name = "Sneha" ##name is a string

In [7]:
## Type inference
type(age)

int

## Variables

It is temporary storage of the data

In [8]:
## declaring and Assigning Variables
age = 22
height = 4.9
name = "Sneha"
is_student = True 


# printing the variables 

print("age :",age)
print("height: ",height)
print("name:",name)
print("is_student:",is_student)

age : 22
height:  4.9
name: Sneha
is_student: True

In [9]:
## Naming Conventions
## Variables must start with letters or underscore '_'
## variables names should be descriptive
## they are case sensitive
## valid variable names


first_name = "Sneha"
last_name = "Pujari"

In [10]:
# Invalid variable names

#2age = 89

#print(2age)

In [11]:
# Case sensitive 

Name = "Sneha"
name = "Pujari"


print(Name)
print(name)


Name == name

Sneha
Pujari

False

In [12]:
# understanding data types 

age = 22 #int

height = 4.9  #float

name = "Sneha"  #String 

is_student = True       #Boolean 

print(type(name))

<class 'str'>

In [13]:
## Type checking and conversation 


type(height)

float

In [14]:
age = 22

age_str = str(age)


print(age)

print(age_str)


print(type(age))


print(type(age_str))

22
22
<class 'int'>
<class 'str'>

In [15]:
age ='22'

age_int = int(age)

print(age_int)

print(type(age_int))

22
<class 'int'>

In [16]:
float(int(age))

22.0

In [17]:
## Dynamic Typing 
## Python allows the type of a variable to change as the program executes 

var =  10  #int 

print(var , type(var))


var = "Hello"

print(var,type(var))

var = 3.14 

print(var,type(var))

var = True 
 
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>

In [18]:
## Input

age =int(input("What is your age ?"))


print(age, type(age))

11 <class 'int'>

In [19]:
## Simple calculator 

num1 = float(input("Enter the First number:"))
num2 = float(input("Enter the second number :"))


Sum = num1 + num2 
Difference = num1 - num2 
Multiplication = num1*num2
Quotient = num1/num2

print("Sum :",Sum)
print("Difference : ", Difference)
print("Multiplication : " , Multiplication)
print("Quotient : ", Quotient)

Sum : 22.0
Difference :  0.0
Multiplication :  121.0
Quotient :  1.0

## DataTypes

In [20]:
## Integer Example

age = 35
type(age)

int

In [21]:
## Floating point datatype 

height = 4.89


print(height)

print(type(height))

4.89
<class 'float'>

In [22]:
## string datatype example 

name = "Krish"

print(name)

print(type(name))

Krish
<class 'str'>

In [23]:
##  boolean Type 

type(True)

bool

In [24]:
is_bool = True 
is_bool = bool()

is_bool

False

In [25]:
a = 10 
b = 10 

type(a == b)

bool

In [26]:
## Type casting

result = "Hello" + str(5)

print(result)

Hello5

## Operators

In [27]:
##  Arithematic Operators 


a = 10 
b = 5


add_result = a+b  # addition
sub_result = a-b  #substraction
mult_result = a*b  # Multiplication
div_result = a/b  # Division
floor_div_result = a//b  # floor division  (Quotient Giving)

modulus_result = a%b  # moduls Result   (Remainder giving)


exponent_result = a**b  # Exponential Result


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [28]:
a = 10
b = 10 

a==b

True

In [29]:
str1 = "Krish"
str2 = "Krish"


str1 == str2

True

In [30]:
## not equal the  != 


str1 != str2

False

In [31]:
# greater than 

num1 = 45
num2 = 55 


num1>num2

False

In [32]:
##less than 


print(num1<num2)

True

In [33]:
## greater than equal to 

number1 = 45
number2 = 45


number1 >=number2

True

In [34]:
## less than equal to 

number1 = 45
number2 = 45


number1 <= number2

True

In [35]:
##logical operators

## And , Not , Or operators

X = True
Y = False


result =  X and Y



print(result)

False

In [36]:
result = X or Y 

print(result)

True

In [37]:
result = not X 

print(result)

False

## Python control Flow

In [38]:
## if statement 
age = 20 

if age>= 18:
    print("You are allowed to vote in elections")

You are allowed to vote in elections

In [39]:
## else 
## the else statement is used when the condition in if is false then it goes for else


age = 16 
if age >= 18 :
    print("You are allowed to vote in elections")
else:
    print("You are not allowed to vote in elections")

print("Please follow the rules â˜ðŸ½")

You are not allowed to vote in elections
Please follow the rules â˜ðŸ½

In [40]:
#elif 
## elif allows the different condition for eligible 
age = 18 


if age > 18 :
    print("You are eligible for voting")
elif age == 18 :
    print("You are now onwards eligible for voting ")
else:
    print("You are minor")

You are now onwards eligible for voting

In [41]:
## Nested conditional Statements
## For Example 
## To check whether the number even or odd 
number = int(input("Enter your respective number :"))

if number >=0:
    print("The given number is positive")
    if number%2==0:
        print(f"Given number : {number} is even")
    else :
         print(f"Given number : {number} is odd")
   
else:
    print(f"The given number : {number} is zero or negative ")

The given number is positive
Given number : 11 is odd

In [42]:
## Leap year 


year = int(input("Enter the year that comes after 2000 :"))

if year >= 2000 :
    print("The leap year concept gets applicable")
    if year%4==0:
        print(f"The given year : {year} is a leap year")
    else :
        print(f"The given year : {year} is not leap year")
else : 
    print(f"The given year : {year} comes below 2000")

The given year : 11 comes below 2000

In [43]:
# for loop
range(5)
for i in range(5):
    print(i)

0
1
2
3
4

In [44]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [45]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [46]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [47]:
## For strings

str = "Sneha Pujari"

for i in str:
    print(i)

S
n
e
h
a

P
u
j
a
r
i

In [48]:
## while loop 

count = 0 

while count <= 5 :
    print(count)
    count+=1

0
1
2
3
4
5

In [49]:
count = 0 
while count%2==0 :
    print(count)
    count+=1

0

In [50]:
## Loop Control
##break 


for i in range(10):
    if i == 5 :
        break
    print(i)

0
1
2
3
4

In [51]:
#Continue 
for i in range (10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [52]:
## pass 

for i in range(5):
    if i==3:
        print("pass --->")
        pass
    print(i)

0
1
2
pass --->
3
4

In [53]:
## Nested Loop 
for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [54]:
# the sum of n natural numbers 

n = 10 
count = 1
sum = 0

while count<= n:
    sum = sum + count
    count+=1

print(f"The Sum of {n} numbers is",sum)

The Sum of 10 numbers is 55

In [55]:
n = 10 
count = 1
sum = 0

for i in range(1,11):
    sum=sum+i
print(sum)

55

In [56]:
## prime number 
for num in range(1,101):
    if num > 1:
        for i in range(2,num):
            if num%i==0:
                break

        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Lists

In [57]:
lst = []

print(type(lst
           ))

<class 'list'>

In [58]:
names = ["Krish","Jack","Jacob",1,2,3,4,5]
print(names)

['Krish', 'Jack', 'Jacob', 1, 2, 3, 4, 5]

In [59]:
mixed_list = [1,"Hello",3.14,True]
print(mixed_list)

[1, 'Hello', 3.14, True]

In [60]:
## Accessing List Elements

fruits = ["apple","banana","cherry","kiwi","gauva"]

In [61]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [62]:
print(fruits[1:])
print(fruits[1:3])
print(fruits[-1:])

['banana', 'cherry', 'kiwi', 'gauva']
['banana', 'cherry']
['gauva']

In [63]:
fruits[1] = "watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [64]:
## List methods

fruits.append("orange")
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [65]:
fruits.insert(1,"banana")

print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [66]:
fruits.insert(1,"banana")

print(fruits)

['apple', 'banana', 'banana', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [67]:
fruits.remove("banana")  # it removes at the occurance of the output 
print(fruits)

['apple', 'banana', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [68]:
# removing the last item in the list and return the last element

popped_fruits =fruits.pop()
print(popped_fruits)

print(fruits)

orange
['apple', 'banana', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [69]:
index = fruits.index("cherry")
print(index)

3

In [70]:
count = fruits.count("Banana")
print(count)

0

In [71]:
fruits.sort()

In [72]:
fruits

['apple', 'banana', 'cherry', 'gauva', 'kiwi', 'watermelon']

In [73]:
fruits.clear()
print(fruits)

[]

In [74]:
## slicing List 

numbers = [1,2,3,4,5,6,7,8,9,10]

print(numbers[2:5])
print(numbers[:5])
print(numbers[5:])
print(numbers[::2])
print(numbers[::-1])

[3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [75]:
## iterating over list

for number in numbers:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [76]:
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [77]:
## list comprehension

lst = []
for x in range(10):
    lst.append(x**2)
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [78]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

####  list comphrension

[expression for item in iterable ]

In [79]:
## basic comprehsion

square = [num**2 for num in range(10)]

print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [80]:
## list comprehsion with condition

lst = []
for i in range(10):
    if i%2==0:
        lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

### list comprehsion with condition


[expression for item in iterable if condition]

In [81]:
even_numbers = [num for num in range(10) if num%2==0]
print(even_numbers)

[0, 2, 4, 6, 8]

In [82]:
## Nested List Comprehension

lst = [1,2,3,4]
lst2 = ['a','b','c','d']

pair = [[i,j] for i in lst for j in lst2]
print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [83]:
## list comprehension with function calls

words = ["Hello","world","python","list","comprehension"]
lengths = [len(word) for word in words]
print(lengths)

[5, 5, 6, 4, 13]

In [84]:
## tuples


empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [85]:
lst = list()
print(type(lst))
tpl =  tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [86]:
list((1,2,3,4,4,4))

[1, 2, 3, 4, 4, 4]

In [87]:
mixed_tuple = (1,"Hello World",3.14,True)

print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [88]:
numbers = (1,2,3,4,5,6)
numbers

(1, 2, 3, 4, 5, 6)

In [89]:
numbers[2]
numbers[-1]

6

In [90]:
numbers[0:4]

(1, 2, 3, 4)

In [91]:
## tuple operators
concatention_tuple = numbers + mixed_tuple 
print(concatention_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [92]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [93]:
numbers*3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [94]:
## immutable nature of Tuples
# they cannot be changed once assigned 


lst = [1,2,3,4,5]

print(lst)


lst[1] = "Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [95]:
numbers[1]= "Krish"

TypeError: 'tuple' object does not support item assignment

In [ ]:
## tuple method 

print(numbers.count(1))
print(numbers.index(3))

1
2

In [ ]:
## packing and unpacking tuple 
## packing
packed_tuple = 1 , "Hello " , 3.14
print(packed_tuple)

(1, 'Hello ', 3.14)

In [ ]:
# unpacking
a,b,c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [ ]:
#unpacking 

numbers = (1,2,3,4,5,6)
first, *middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
## Nested tuple 
## nested List

lst = [ [1,2,3,4],[6,7,8, 9],[1,"hello",3.14,"c"]]
lst[0][0:]

[1, 2, 3, 4]

In [ ]:
lst = [ [1,2,3,4],[6,7,8, 9],[1,"hello",3.14,"c"]]
lst[2][0:3]

[1, 'hello', 3.14]

In [ ]:
nested_tuple = ((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [ ]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [ ]:
## Sets 
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
my_empty_set = set([1,2,3,4,4,5,5,6,9,9])

print(my_empty_set)

print(type(my_empty_set))

{1, 2, 3, 4, 5, 6, 9}
<class 'set'>

In [ ]:
my_set = {1,2,3,4,5,6}
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
## remove the elements from a set

my_set.remove(3)

print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
my_set.discard(11)
print(my_set)

{1, 2, 4, 5, 6, 7}

In [ ]:
## pop method 
removed_element = my_set.pop()
print(removed_element)
print(my_set)

1
{2, 4, 5, 6, 7}

In [ ]:
my_set.clear()

In [ ]:
##  Set memebership Test
my_set = {1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [ ]:
## Mathematical Operation
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}


###Union
union_set = set1.union(set2)
print(union_set)


### intersection

intersection_set = set1.intersection(set2)

print(intersection_set)


set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{4, 5, 6}

In [ ]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}


## Difference 

print(set1.difference(set2))

{1, 2, 3}

In [ ]:
set1

{1, 2, 3, 4, 5, 6}

In [ ]:
## Symmetric difference 


set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [ ]:
## Sets method 


set1 = {1,2,3}
set2 = {3,4,5}

## is subset


print(set1.issubset(set2))

print(set1.issuperset(set2))

False
False

In [ ]:
lst = [1,3,5,2,3,3]

set(lst)

{1, 2, 3, 5}

In [ ]:
## counting unique Words in text 

text = "In this tutorial we are discussing about sets"

words = text.split()

## convert list of words to set to get unique words


unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'are', 'we', 'discussing', 'this', 'sets', 'In', 'tutorial', 'about'}
8

In [ ]:
##  Dictionaries 
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [ ]:
student = {"name" : "Sneha","age" : 22 , "grade" :'A'}
print(student)
print(type(student))

{'name': 'Sneha', 'age': 22, 'grade': 'A'}
<class 'dict'>

In [ ]:
print(student['grade'])
print(student['age'])


## using get method 

print(student.get('grade'))
print(student.get('last'))

A
22
A
None

In [ ]:

print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name','Not Available'))

A
None
Not Available

In [ ]:
## Modifying Dictionary elements 
## Dictionary are mutable , so you can add , update or delete elements

In [ ]:
student["age"] = 33
print(student)
student["address"] = "India"
print(student)

{'name': 'Sneha', 'age': 33, 'grade': 'A'}
{'name': 'Sneha', 'age': 33, 'grade': 'A', 'address': 'India'}

In [ ]:
student['grade'] = 'A'

In [ ]:
print(student)

{'name': 'Sneha', 'age': 33, 'grade': 'A', 'address': 'India'}

In [ ]:
del student['grade'] ## delete key

In [ ]:
print(student)

{'name': 'Sneha', 'age': 33, 'address': 'India'}

In [ ]:
## Dictionary methods 

keys = student.keys()
print(keys)
values = student.values()
print(values)


items = student.items()

print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Sneha', 33, 'India'])
dict_items([('name', 'Sneha'), ('age', 33), ('address', 'India')])

In [ ]:
## Shallow copy 

student_copy = student 
print(student_copy)
print(student)

{'name': 'Sneha', 'age': 33, 'address': 'India'}
{'name': 'Sneha', 'age': 33, 'address': 'India'}

In [ ]:
student["name"] = "Krish1"
print(student)
print(student_copy)

{'name': 'Krish1', 'age': 33, 'address': 'India'}
{'name': 'Krish1', 'age': 33, 'address': 'India'}

In [ ]:
student_copy1 = student.copy() ##shallow copy 
print(student_copy1)
print(student)

{'name': 'Krish1', 'age': 33, 'address': 'India'}
{'name': 'Krish1', 'age': 33, 'address': 'India'}

In [ ]:
student['name'] = "Sneha"
print(student)
print(student_copy1)

{'name': 'Sneha', 'age': 33, 'address': 'India'}
{'name': 'Krish1', 'age': 33, 'address': 'India'}

In [ ]:
## Iterating Over Dictionaries
## You can use loops to iterate over dictionaries , keys,values or items

for keys in student.keys():
    print(keys)

name
age
address

In [ ]:
for values in student.values():
    print(values)

Sneha
33
India

In [ ]:
for key,value in student.items():
    print(f"key : {key} and values : {value}")

key : name and values : Sneha
key : age and values : 33
key : address and values : India

In [ ]:
## Nested Dictionary 

students ={
    "student1" : {"name" : "Sneha" , "age" : 22} ,
    "student2" : {"name" : "Vishal" , "age" : 25} ,
    "student3" : {"name" : "Vilas" , "age" : 55}
}

print(students)

{'student1': {'name': 'Sneha', 'age': 22}, 'student2': {'name': 'Vishal', 'age': 25}, 'student3': {'name': 'Vilas', 'age': 55}}

In [ ]:
## Accessing the nested dictionaries elements 

print(students["student2"]["name"])

Vishal

In [ ]:
#iterating the nested dict
for student_id , student_info in students.items():
    print(f"{student_id} : {student_info}")
    for key,values in student_info.items():
        
        print(f"{key}:{value}")

student1 : {'name': 'Sneha', 'age': 22}
name:India
age:India
student2 : {'name': 'Vishal', 'age': 25}
name:India
age:India
student3 : {'name': 'Vilas', 'age': 55}
name:India
age:India

In [ ]:
## Dictionary Comphrehension

squares = {x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
## Conditional comprehension 

evens = { x: x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
numbers = [1,2,2,3,3,3,4,4,4,4]
frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number] +=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [ ]:
## Merge the dictionary 

dic1 = {"a":1 ,"b" :2 }
dic2 = {"b":3 , "c": 4}

merged_dict = {**dic1,**dic2}

print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
## Real world scenerioes

to_do_list = ["Buy Groceries","Clean the house","Pay bills"]

## Adding to task 

to_do_list.append("Schedule meeting")
to_do_list.append("Go For a Run")

## Removing a completed task 
to_do_list.remove("Clean the house")

## checking if a task is in task 
if "Pay bills" in to_do_list:
    print("Don't forget to pay the utility bills")

print("To Do List remaining")
for task in to_do_list:
    print(f"--{task}")

Don't forget to pay the utility bills
To Do List remaining
--Buy Groceries
--Pay bills
--Schedule meeting
--Go For a Run

## Functions


it helps a certain code for reusability

In [ ]:
## syntax
def function_name(parameters):
    """docstring """
    # Function body 
    return expression

In [ ]:
## why functions?
num=24
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [ ]:
def even_or_odd(num):
    """This function checks the even or odd"""
    if num%2==0:
        print(f"Given number : {num} is even ")
    else:
        print(f"Given number : {num} is odd")

In [ ]:
## call the function

even_or_odd(100)

Given number : 100 is even

In [ ]:
## multiple parameters

def add(a,b):
    return a+b

result = add(2,3)
print(result)

5

In [ ]:
## default parameters

def greet(name="Sneha"):
    print(f"Hello {name} Welcome to the paradise")

greet("Sneha Pujari")

Hello Sneha Pujari Welcome to the paradise

In [ ]:
###  Variable Length Arguments 
### Positional And Keywords arguments


def print_numbers(*args):
    for i in args:
        print(i)

In [ ]:
#calling the function


print_numbers(1,2,3,4,5,6,7,8,9,"Sneha")

1
2
3
4
5
6
7
8
9
Sneha

In [ ]:
### Keywords  Arguments
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}: {value}")

In [ ]:
print_details(name = "Sneha", age = "32" , country= "India")

name: Sneha
age: 32
country: India

In [ ]:
def print_details(*args,**kwargs):
    for val in args:
        print(f"Positional argument : {val}")
    for key,value in kwargs.items():
        print(f"{key} : {value}")

In [ ]:
print_details(1,2,3,4,"Sneha" ,name = "Sneha", age = "32" , country= "India")

Positional argument : 1
Positional argument : 2
Positional argument : 3
Positional argument : 4
Positional argument : Sneha
name : Sneha
age : 32
country : India

In [ ]:
## return statements
def multiply(a,b):
    return a*b,a

result = multiply(2,3)
print(result)

(6, 2)

In [ ]:
def convert_temperature(temp,unit):
    """This functionn converts temperature between celsius anf fahrenheit"""
    if unit == 'C' :
        return temp * 9/5  + 32   ##Celsius to Fahrenheit 
    elif unit=='F':
        return (temp-32)*5/9    ## Fahrenheit to celsius 
    else :
        return None

In [ ]:
print(convert_temperature(25,'C'))
print(convert_temperature(77,'K'))

77.0
None

In [ ]:
def is_strongpassword(password):
    if len(password) < 8 :
        return False
    if not any(char.isdigit() for char in password ):
        return False
    if not any(char.islower() for char in password):
        return False 
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '!@#$%^&*()_+'  for char in password):
        return False 
    return True 

## Calling functionn


print(is_strongpassword("Sneha@12345"))

True

In [ ]:
def calculate_total_cost(cart):
    total_cost = 0
    for item in cart:
        total_cost+=item['price']*item['quantity']
    return total_cost 


## Example cart data 

cart = [
    {
        'name' : 'Apple' , 'price' : 0.5 , 'quantity' : 4
    },
    {
        'name' : 'Banana' , 'price' : 0.3 ,'quantity' : 6
    },
    {
        'name'  : 'Orange' , 'price' : 0.7 , 'quantity' :3
    }
]


total_cost = calculate_total_cost(cart)
print(total_cost)

5.8999999999999995

In [ ]:
def is_palindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]

print(is_palindrome("A man a plan a canal Panama"))
print(is_palindrome("Hello"))

True
False

In [ ]:
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(6))

720

In [ ]:
def count_word_frequency(file_path):
    word_count = {}
    with open(file_path,'r') as file:
        for line in file:
            words = line.split()
            for word in words:
                word = word.lower().strip('.,!?;:"\'')
                word_count[word] = word_count.get(word,0)+1
    return word_count


filepath = 'sample.txt'
word_frequency = count_word_frequency(filepath)
print(word_frequency)

{'hello': 1, 'world': 1, 'how': 1, 'are': 1, 'you': 1, 'my': 1, 'name': 1, 'is': 1, 'sneha': 2}

In [ ]:
# valid email
import re
def is_valid(email):
    """This function is for validation of email"""
    pattern = r'^[a-aZ-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern,email)

#calling the function
print(is_valid("test@example.com"))  

print(is_valid("invalid-email"))

None
None

## lambda Function

In [ ]:
## Syntax arugments 

lambda arguments : expression

In [ ]:
def addition(a,b):
    return a+b

In [ ]:
add =addition(10,20)
print(add)

30

In [ ]:
addition = lambda a,b : a+b
type(addition)
print(addition(12,13))

25

In [ ]:
def even(num):
    if num%2==0:
        print(f"Given number : {num} is even")
    else:
        print(f"Given number :{num} is odd number")

even(23)

Given number :23 is odd number

In [ ]:
even1 = lambda num : num%2==0
even1(12)

True

In [ ]:
def addition(x,y,z):
    return x+y+z
addition(10,20,30)

60

In [ ]:
addition1 = lambda x,y,z:x+y+z
addition(12,13,14)

39

In [ ]:
## map() --> applies a function to all items in a list 


numbers = [1,2,3,4,5,6]
def square(number):
    return number**2


square(2)

4

In [ ]:
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25, 36]

In [ ]:
def square(x):
    return x*x
square(4)

16

In [ ]:
numbers =  [1,2,3,4,5,6,7,8]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
numbers =  [1,2,3,4,5,6,7,8]

list(map(lambda x:x**2 , numbers))

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
### mapping multiple iterable

numbers1 = [1,2,3]
numbers2 =[4,5,6]

added_numbers = list(map(lambda  x,y : x+y,numbers1,numbers2))

print(added_numbers)

[5, 7, 9]

In [ ]:
## using map() to convert a list of strings to integers 


str_numbers = ['1','2','3','4']
int_numbers = list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4]

In [ ]:
del str

In [ ]:
words = ['apple', 'banana', 'cherry']
upper_word = list(map(str.upper, words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [ ]:
def get_name(person):
    return person['name']

people = [
    {"name" : "Sneha" , "age" : 22} ,
    {"name" : "Vishal" , "age" : 25}
]


list(map(get_name,people))

['Sneha', 'Vishal']

In [ ]:
## Filter function comstructs an iterator from elements of an iterable for which a function returns true

In [ ]:
def even(num):
    if num%2==0:
        return True

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12]


list(filter(even,lst))

[2, 4, 6, 8, 10, 12]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
greater_than_five = list(filter(lambda x : x > 5 ,numbers))
print(greater_than_five)

[6, 7, 8, 9]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9]
greater_than_five_even =  list(filter(lambda x : x > 5 and x%2==0 ,numbers))

In [ ]:
print(greater_than_five_even)

[6, 8]

## Importing Modules and Packages in Python

In [ ]:
import math 
math.sqrt(16)

4.0

In [ ]:
from math import sqrt,pi
print(sqrt(16))
print(sqrt(25))
print(pi)

4.0
5.0
3.141592653589793

In [ ]:
import numpy as np
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [ ]:
from math import *
print(sqrt(16))
print(pi)

4.0
3.141592653589793

In [ ]:
from packages.maths import addition
addition(2,3)

5

In [ ]:
from packages import maths
maths.addition(2,3)

5

In [ ]:

from packages.subpackages.Operations import *
oper(2,3)

5

### Standard Library Overview

In [ ]:
import array
arr = array.array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [ ]:
import math 
print(math.sqrt(16))
print(math.pi)

4.0
3.141592653589793

In [ ]:
## random

import random
print(random.randint(1,10))
print(random.choice(['apple','banana','cherry']))

3
apple

In [ ]:
###  File and directory Access

import os
print(os.getcwd())

c:\Users\Lenovo\OneDrive\Documents\GitHub\Data-Science-Course

In [ ]:
os.mkdir('test_dir')

In [ ]:
## high level of  operations on file
import shutil 
shutil.copyfile('source.txt' , 'destination.txt')

'destination.txt'

In [ ]:
## Data serialization

import json

data = {'name' : 'Sneha Pujari' , 'age' : 22 }


json_str =json.dumps(data)
print(json_str)
print(type(json_str))

paresd_data = json.loads(json_str)
print(paresd_data)
print(type(paresd_data))

{"name": "Sneha Pujari", "age": 22}
<class 'str'>
{'name': 'Sneha Pujari', 'age': 22}
<class 'dict'>

In [ ]:
## csv 

import csv 

with open('example.csv',mode = 'w' , newline='') as file :

    writer = csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['Sneha',22])

with open('example.csv' , mode = 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Sneha', '22']

In [ ]:
## Datetime
from datetime import datetime
now = datetime.now()
print(now)


yesterday = now-timedelta(days=1)
print(yesterday)

2024-11-30 15:22:13.911072

In [ ]:
import time 
print(time.time())
time.sleep(2)
print(time.time())

1732960683.8414843
1732960685.8424773

In [ ]:
## Regular Expression


import re
pattern = r'\d+'
text = 'There are 123 apples 456'
match =  re.search(pattern,text)
print(match.group())

123

##### File operation - Read and Write Files

In [ ]:
### Reading a whole File 


with open('example.txt','r') as file:
    for line in file:
        content=file.read()
        print(content)

I am good
Sneha Pujari is my name
Welcome to the course

In [ ]:
## Read a file line by line
with open('example.txt','r') as file:
    for line in file:
        print(line.strip())   ## Strip removes the space

Hello How are you ?
I am good
Sneha Pujari is my name
Welcome to the course

In [ ]:
##  Writing a file(Overwiting)


with open('example.txt' ,'w') as file :
    file.write('Hello World!\n')
    file.write('this is a new line.')

In [ ]:
## write a file without overwriting then 


with open('example.txt','a') as file :
    file.write('\n Append operation taking place!')

In [ ]:
 ## Writing a list of lines 

lines = ['First line \n ' , 'Second line \n' , 'Third line \n']

with open('example.txt' ,'a') as file :
    file.writelines(lines)

In [ ]:
## binary files
#Writing to a binary file


data = b'\x00\x01\x02\x03\x04'

with open('example.bin','wb')  as file:
    file.write(data)

In [ ]:
# Reading a binary file 

with open('example.bin','rb') as file:
    content = file.read()
    print(content)

b'\x00\x01\x02\x03\x04'

In [ ]:
###  Read the content from source text file to a destination text file 

# Copying a text file 


with open('example.txt','r')  as source_file:
    content = source_file.read()

with open('destination.txt','w') as destination_file:
    destination_file.write(content)

In [ ]:
def count_text_file(file_path):
    with open(file_path , 'r') as file:
        lines = file.readlines()

        line_count = len(lines)
        word_count = sum(len(line.split()) for line in lines)
        char_count = sum(len(line) for line in lines)
    return line_count, word_count,char_count

file_path = 'example.txt'
lines,words , characters  = count_text_file(file_path)
print(f"Lines : {lines} , Words : {words} , Characters : {characters}")

Lines : 10 , Words : 28 , Characters : 200

The w+ mode is used to open a file for both reading and writing

In [ ]:
### Writing and then reading a file 

with open('example.txt','w+') as file :
    file.write("Hello world\n")
    file.write("This is a new line \n ")


    ##   Move the file cursor to the beginning 
    file.seek(0)



## Read the content of the file 
    content = file.read()
    print(content)

Hello world
This is a new line

In [ ]:
import os

cwd =  os.getcwd()
print(f"Current working directory is {cwd}")

Current working directory is c:\Users\Lenovo\OneDrive\Documents\GitHub\Data-Science-Course\Python

In [ ]:
###  Create a new Directory 

new_directory = "package"
os.mkdir(new_directory)
print(f"Directory '{new_directory}' create")

Directory 'package' create

In [ ]:
## listing Files and Directories 

items = os.listdir('.')
print(items)

['destination.txt', 'example.bin', 'example.csv', 'example.txt', 'package', 'packages', 'Python_Full_Course.ipynb', 'sample.txt', 'source.txt', 'test_dir']

In [ ]:
### JOINING paths 
dir_name = "folder"
file_name = "file.txt"
full_path = os.path.join(dir_name,file_name)
print(full_path)

folder\file.txt

In [ ]:
### JOINING paths 
dir_name = "folder"
file_name = "file.txt"
full_path = os.path.join(os.getcwd(),dir_name,file_name)
print(full_path)

c:\Users\Lenovo\OneDrive\Documents\GitHub\Data-Science-Course\Python\folder\file.txt

In [ ]:
path = 'example1.txt'
if os.path.exists(path):
    print(f"The path '{path}' exists")
else:
    print(f"The path '{path}' does not exists")

The path 'example1.txt' does not exists

In [ ]:
#Checking if a path is a File or directory 

import os

path = 'example.txt'
if os.path.isfile(path):
    print(f"the path '{path}' is a file")
elif os.path.isdir(path):
    print(f"The path '{path} is a directory. ")
else :
    print(f"The path '{path}' is neither a file nor a directory . ")

the path 'example.txt' is a file

In [ ]:
## Getting the absolute path 

relative_path = 'example.txt'
absolute_path = os.path.abspath(relative_path)
print(absolute_path)

c:\Users\Lenovo\OneDrive\Documents\GitHub\Data-Science-Course\Python\example.txt

### Understanding  Exceptions

In [ ]:
## Exceptions are events that disrupt the normal flow of a program.

### Common exceptions include :
### ZeroDivisionError : Diving by zero 
### ValueError : Invalid Value
###  TypeError : Invalid type

In [ ]:
try:
    a=b
except NameError as ex:
     print(ex)

name 'b' is not defined

In [ ]:
try:
    result = 1/0
except ZeroDivisionError as ex:
    print(ex)

division by zero

In [ ]:
try:
    result = 1/2
    a=b
except NameError as ex:
     print(ex)
     print("Please enter the denominator greater tha 0")
except Exception as ex1:
     print(ex1)
     print("Main exception class got here ")

name 'b' is not defined
Please enter the denominator greater tha 0

In [ ]:
try:
    num = int(input("Enter a number"))
    result = 10/num
    print(result)
except ValueError:
    print("This is not a valid number ")
except ZeroDivisionError :
    print("Enter denominator greater than 0")
except Exception as ex:
    print(ex)

This is not a valid number

In [ ]:
## try,except , else block 

try:
    num = int(input("Enter a number :"))
    result = 10/num
except ValueError :
    print("That's not a valid number!")
except ZeroDivisionError :
    print("You can't divide by zero !")
except Exception as ex:
    print(ex)
else :
    print(f"the result is {result}")

You can't divide by zero !

In [ ]:
## try,except ,else and finally 


try:
    num = int(input("Enter a number :"))
    result = 10/num
except ValueError :
    print("That's not a valid number!")
except ZeroDivisionError :
    print("You can't divide by zero !")
except Exception as ex:
    print(ex)
else :
    print(f"the result is {result}")
finally:
    print("Exceution Complete ")

the result is 0.9090909090909091
Exceution Complete

In [ ]:
## File handling and exceptional handling
try:
    file = open('example1.txt','r')
    content = file.read()
    a=b
    print(content)

except FileNotFoundError :
    print("The file does not exists ")
except Exception as ex:
    print(ex)

finally:
    if 'file' in locals() or not file.closed():
        file.close()
        print('File closed')

name 'b' is not defined
File closed

##  Classes and Objects

In [ ]:
### A class is a blue print for creating objects . Attributes , methods

class Car:
    pass

audi = Car()
bmw = Car()

print(type(audi))

<class '__main__.Car'>

In [ ]:
print(audi)

<__main__.Car object at 0x0000026832377B60>

In [ ]:
### instance Variable and Methods 

class Dog:
    def __init__(self,name,age):
        self.name = name 
        self.age = age 

## create a object
dog1 = Dog("buddy",3)
print(dog1.name)
print(dog1.age)

buddy
3

In [ ]:
class Dog:
    def __init__(self,name,age):
        self.name = name 
        self.age = age

    def bark(self):
        print(f"{self.name} says woof")

dog1 = Dog("Buddy" , 3 )
dog1.bark()

dog2 = Dog("Lucy", 2)
dog2.bark()

Buddy says woof
Lucy says woof

In [ ]:
###  Modeling a bank Account 

## Define a class for bank account 

class BankAccount:
    def __init__(self,owner,balance =0):
        self.owner = owner
        self.balance = balance
    def deposit(self,amount):
        self.balance+=amount
        print(f"{amount} is deposited amount.New balance is {self.balance} ")
    def withdraw(self,amount):
        if amount > self.balance :
            print("Insufficient Funds")
        else:
            self.balance = amount
            print(f"{amount} is withdraw . New Balance is {self.balance} ")
    def get_balance(self):
        return self.balance
    
## create an account 

account = BankAccount("Sneha",1000)

print(account.balance)
print(account.withdraw(300))
print(account.deposit(10000))


print(account.get_balance())

1000
300 is withdraw . New Balance is 300
None
10000 is deposited amount.New balance is 10300
None
10300

#### Inheritance in Python 

It inherit attributes and methods

In [ ]:
## Inheritance 
## Parent class 
class Car:
    def __init__(self,windows,doors,enginetype):
        self.windows = windows
        self.doors = doors 
        self.enginetype = enginetype

    def drive(self):
        print(f"The person will drive the {self.enginetype} car ")

In [ ]:
car1 = Car(4,5,'petrol')
print(car1.drive())

The person will drive the petrol car
None

In [ ]:
class Tesla(Car):
    def __init__(self,windows,doors,enginetype,is_selfdriving):
        super().__init__(windows,doors,enginetype)
        self.is_selfdriving = is_selfdriving
    def selfdriving(self):
        print(f"Tesla supports self driving : {self.is_selfdriving}")

In [ ]:
tesla1 = Tesla(4,5,"Electric",True)
tesla1.selfdriving()
tesla1.drive()

Tesla supports self driving : True
The person will drive the Electric car

In [ ]:
### Multiple Inheritance 
## When a class inherits from more than one base class
## Base class 1

class Animal :
    def __init__(self,name):
        self.name = name 

    def speak(self):
        print("Subclass must implement this method ")

## Base  class 2 
class Pet :
    def __init__(self,owner):
        self.owner = owner 

## Derived class 
class Dog(Animal,Pet):
    def __init__(self,name , owner):
        Animal.__init__(self,name)
        Pet.__init__(self,owner)
    def speak(self):
        return f"{self.name} say woof "

## Create an object 
dog = Dog("Buddy",'Sneha')
print(dog.speak())
print(f"Owner : {dog.owner}")

Buddy say woof
Owner : Sneha

In [ ]:
class Tea :
    def __init__(self,name,price):
        self.name = name
        self.price = price 
    def redlabel(self):
        print(self.name)
        

drink1 = Tea("Redlabel",100)
print(drink1.name)
print(drink1.price)
print(drink1.redlabel())

Redlabel
100
Redlabel
None

In [ ]:
class Coffee(Tea):
    def __init__(self,name,price):
        Tea.__init__(self,name,price)
        self.name = name 


Coffee1 = Coffee("Bru Coffe",90)
print(Coffee1.name)
print(Coffee1.redlabel())
print(drink1.name)
print(drink1.price)

Bru Coffe
Bru Coffe
None
Redlabel
100

#### Polymorphism

Method overriding allows a child class to provide a specific implementation of a method that is already defined in its parent class

In [ ]:
class Animal:
    def speak(self):
        return "Sound of the animal"
## Dervived Class 1
class Dog(Animal):
    def speak(self):
        return "Woof"
## Derived Class 
class Cat(Animal):
    def speak(self):
        return "Meow!"

def animal_speak(animal):
    print(animal.speak())
## Function that demonstrates polymorphism 
dog = Dog()
cat = Cat()
print(dog.speak())
print(cat.speak())

animal_speak(dog)

Woof
Meow!
Woof

In [ ]:
class A :
    def B():
        return "Loook"


h = A
print(h.B())

Loook

In [ ]:
class N:
    def K(a,b):
        print(a)


m = N
m.K(1,2)

1

In [ ]:
class O :
    def p():
        return "Look"
    
l = O
l.p()

'Look'

In [ ]:
class A:
    def B ():
        print("We within the AB")

    
class C(A):
    def D():
        print("We are in CD")


k = C
print(k.D())
print(k.B())

We are in CD
None
We within the AB
None

In [ ]:
class J:
    def __init__(self,name,age):
        self.name = name 
        self.age = age
    def details(self):
        print(self.name)


h = J("sneha",89)
h.details()
h.age
h.name

sneha

'sneha'

In [ ]:
class K:
    def A():
        print("It is important as polyphorsim")

class L (K):

    def A():
        print("It is not as importanat as it")

class P (K):
    def A():
        print("OOO")


p = L 


p.A()

It is not as importanat as it

In [ ]:
###  Polymorphism with Functions and Methods 
## base class 
class Shape:
    def area(self):
        return "The area of the figure"


## Dervived class 1
    
class Rectangular(Shape):
    def __init__(self,width,height):
        self.width =  width 
        self.height = height 
      
    def area(self):

        return self.width*self.height

        


area1 = Rectangular(12,13)
print(area1.area())

156

### Method overriding

###### firstly Abstract base classes

In [ ]:
from abc import ABC,abstractmethod
## Define an abstract class 

class Vehicle(ABC):
    @abstractmethod
    def start_engine(self):
        pass

## Dervived class 1

class Car(Vehicle):
    def start_engine(self):
        return "Car engineer started"


## Dervived class 2 
class Motorcycle(Vehicle):
        
        def start_engine(self):

            return "Motorcycle engineer started"

def start_vehicle(vehicle):
     print(vehicle.start_engine())

## create objects of Car and Motorcycle 


car = Car()
motorcycle = Motorcycle()
start_vehicle(car)

Car engineer started

Encapsulation and Abstraction

###### Encapsulation is the concept of wrapping data (variables) and methods (functions) together as a single unit

In [ ]:
### Encapulsation 

## public 
## protected
## Private 

class Person:
    def __init__(self,name,age):
        self.name = name 
        self.age = age  ##  public variables 

def get_name(person):
    return person.name
person = Person("Sneha" , 22)
print(person.name)

Sneha

In [ ]:
class Person:
    def __init__(self,name,age,gender):
        self.__name = name 
        self.__age = age  ##  private variables 
        self.gender = gender  ## public variables
def get_name(person):
    return person._Person__name

person = Person("Sneha",22,"female")
get_name(person)

'Sneha'

In [ ]:
class Person:
    def __init__(self,name,age,gender):
        self._name = name 
        self._age = age  ##  protected variables (they can be access by devived class)
        self.gender = gender  ## protectec varaible
class Employee(Person):
    def __init__(self,name,age,gender):
        super().__init__(name,age,gender)

employee  = Employee("Sneha",22,"Female")
print(employee._name)

Sneha

In [ ]:
##  Encapsulation with getter and setter

class Person:
    def __init__(self,name,age):
        self.__name = name  ## Private access modifier or variable
        self.__age = age  ## Private variable

## getter method for name
    def get_name(self):
        return self.__name
    
## setter method
    def set_name(self,name):
        self.__name = name

# Getter method for age
    def get_age(self):
        return self.__age

##Setter method for age
    def set_age(self,age):
        if age > 0 :
            self.__age = age
        else:
            print("Age cannot be negative")   
person = Person("Sneha",22)
print(person.get_name())
print(person.get_age())

person.set_age(35)
print(person.get_age())

person.set_age(-5)

Sneha
22
35
Age cannot be negative

In [ ]:
from abc import ABC,abstractmethod

class A(ABC):
    @abstractmethod
    def void():
        pass

class G(A):
    def void():
        print("Hi , it's abstract class")



k = G
print(k.void())

Hi , it's abstract class
None

In [ ]:
## Encapsulation


class J :
    def __init__(self,name,age,gender):
        self.name = name  ## public
        self.__age = age  ## Private
        self._gender = gender ## protected 
   
    
   

look = J("Sneha",22,"Female")


print(look.name)
print(look._gender)
print(look._J__age)

Sneha
Female
22

#### Abstraction

it is used to hide the complex implemention

In [ ]:
from abc import ABC,abstractmethod

class Vehicle(ABC):
    def drive(self):
        print("The vehicle is used for driving")
    @abstractmethod

    def start_engine(self):
        pass

class Car(Vehicle):
    def start_engine(self):
        print("Car started")


def operate_vehicle(vehicle):
    vehicle.start_engine()
    vehicle.drive()

car=Car()
operate_vehicle(car)

Car started
The vehicle is used for driving

#### Magic methods

In [ ]:
class Person:
    pass

h = Person()
dir(Person)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__firstlineno__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__static_attributes__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [ ]:
print(person)

<__main__.Person object at 0x000002949432D400>

In [ ]:
## Basics Methods
class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age
    
    

peson = Person("Sneha",22)
print(peson.name)
print(peson.age)

Sneha
22

#### Operator Overloading

In [ ]:
class Vector:
    def __init__(self,name_count,age):
        self.name_count = name_count
        self.age = age

    def __add__(self,other):
        return Vector(self.name_count + other.name_count, self.age + other.age)
    
    

k = Vector(5, 23)



print(k.name_count)
print(k.age)

5
23

### Custom Exception  (Raise and Throw an exception)

In [ ]:
class Error(Exception):
    pass

class dobException(Error):
    pass

In [ ]:
year = int(input("Enter the dob"))

age = 2024 - year
try:
    if age<=30 and age>=20:
        print("The age is valid so you can apply for the exam")
    else:
           
           raise dobException
except dobException:
     print("Sorry,your age should be greater than 20 or less than 30")

Sorry,your age should be greater than 20 or less than 30

## Iterators 

##### Iterators are advanced Python concepts that allows for efficient looping and memory management. Iterators provide a way to access elements of a collection sequentially without exposing the underlying structure

In [ ]:
my_list = [1,2,3,4,5,6]
for i in my_list:
    print(i)

1
2
3
4
5
6

In [ ]:
type(my_list)

list

In [ ]:
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
## Iterator 

iterator = iter(my_list)
print(type(iterator))

<class 'list_iterator'>

In [ ]:
## Iterate through all  the element 

next(iterator)

2

In [ ]:
try:
    print(next(iterator))
except StopIteration:
    print("There are no elements in the iterator")

There are no elements in the iterator

#### Generators 

It is way to create iterators

In [ ]:
def square(n):
    for i in range(3):
        yield i**2

In [ ]:
square(3)

In [ ]:
for i in square(3):
    print(i)

0
1
4

In [ ]:
a = square(3)
a

In [ ]:
next(a)

In [ ]:
def my_generator():
    yield 1
    yield 2
    yield 2

In [ ]:
gen = my_generator()
gen

In [ ]:
next(gen)

2

In [ ]:
for val in gen :
    print(val)

In [ ]:
### Practical : Reading  Large Files 
def  read_large_file(file_path):
    with open(file_path,'r')  as file :
        for line in file :
            yield line

In [ ]:
file_path = 'large_file.txt'

for line in read_large_file(file_path):
    print(line.strip())

Wilfred Arthur (7 December 1919 Ã¢â‚¬â€œ 23 December 2000) was a fighter ace and senior officer of the Royal Australian Air Force (RAAF) during World War II. Commonly known as "Woof", he was credited with ten aerial victories and led combat formations at squadron and wing level, becoming the youngest group captain in RAAF history. Arthur first saw action in the Middle East and was awarded the Distinguished Flying Cross for shooting down four aircraft in a single sortie. He was then posted to New Guinea, where he received the Distinguished Service Order for continuing to lead an attack after discovering his guns were inoperable. As wing leader of No. 71 Wing, he was severely burned in a runway collision. Upon recovery, he was posted to the Dutch East Indies and played a leading part in the Morotai Mutiny when eight RAAF officers attempted to resign. Following his discharge, he pursued business interests in Australia and Vietnam before settling in Darwin, Northern Territory.

##### Decorators

In [ ]:
# Function Copy

def welcome():
    return "Welcome to the advanced Python course"

welcome()

'Welcome to the advanced Python course'

In [ ]:
wel = welcome

In [ ]:
print(wel())

Welcome to the advanced Python course

In [ ]:
del welcome

In [ ]:
print(wel())

Welcome to the advanced Python course

In [ ]:
## closures

def main_welcome(func):
    msg = "Welcome"
    def sub_welcome_method():
        print("Welcome to the advance python course")
    return sub_welcome_method()

In [ ]:
main_welcome("Hey")

Welcome to the advance python course

In [ ]:
## Decorator 

def sub_welcome_method(func):
    def sub_welcome_method():
        print("Welcome--->")
        func()
        print("Please learn")
    return sub_welcome_method()

In [ ]:
def  cousre_introduction():
    print("This is an advanced python course")

cousre_introduction()

This is an advanced python course

In [ ]:
main_welcome(cousre_introduction)

Welcome to the advance python course

In [ ]:
@main_welcome
def cousre_introduction():
    print("This is an advanced python course")

Welcome to the advance python course

In [ ]:
## decorator

def my_decorator(func):
    def wrapper():
        print("SOmething or sometime")
        func()
        print("somethong is sometime")

    return wrapper

In [ ]:
@my_decorator
def say_hello():
    print("Hello!")

In [ ]:
say_hello()

SOmething or sometime
Hello!
somethong is sometime

### logging